/**
 * Name: Admin Styles - SP Bilservice
 * Author: Screenpartner AS
 */

// Buttons
#fetch-cars,
#delete-cars,
#fetch-images {
  &:before {
    margin-right: 4px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 18px/1.5 'dashicons';
    vertical-align: sub;
  }
}

#fetch-cars { &:before { content: "\f176"; } }
#fetch-images { &:before { content: "\f233"; } }
#delete-cars {
  border-color: #d63638;
  &:before { content: "\f182"; }
}

.progress-bar {
  display: none;
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;

  &::-webkit-progress-bar {
    background: white;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #c3c4c7;
  }

  &::-webkit-progress-value {
    appearance: none;
    display: block;
    height: 100%;
    width: attr(data-percentage);
    background: green;
    box-shadow: inset 0 0 0 1px #fff;
    transition: all .15s ease-in-out;
  }
}

.progress-bar::webkit-progress-value {
  display: block;
  height: 100%;
  width: attr(data-percentage);
  background: green;
  box-shadow: inset 0 0 0 1px #fff;
  transition: all .15s ease-in-out;
}
