/**
 * Name: Public Styles - SP Bilservice
 * Author: Screenpartner AS
 *
 * Calls every scss file in correct order.
**/
/**
 * Name: Variables - SP Bilservice
 * Author: Screenpartner AS
 *
 * Here is where we declare all our variables like colors, fonts,
 * base values, and defaults. We want to make sure this file ONLY
 * contains variables that way our files don't get all messy.
 * No one likes a mess.
**/
/* COLORS */
/* FONT FAMILY */
/* FONT SIZES */
/* PADDINGS */
/* TRANSITIONS */
/* WRAPS */
/**
 * Name: Typography - SP Bilservice
 * Author: Screenpartner AS
**/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.spb-text-mini {
  font-size: 0.78em;
}

.spb-text-small {
  font-size: 0.89em;
}

.spb-text-base {
  font-size: 1em;
}

.spb-text-medium {
  font-size: 1.38em;
}

.spb-text-large {
  font-size: 1.7em;
}

.spb-color-gray {
  color: #E0E0E0;
}

.spb-color-dark-gray {
  color: #66696E;
}

.spb-margin-bottom {
  margin-bottom: 8px;
}

.spb-remove-margins > * {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.spb-card-details {
  margin: 5px 0;
  display: flex;
  line-height: 5;
  width: 100%;
}

.spb-wrap {
  width: 100%;
  max-width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.spb-wrap-wide {
  width: 100%;
  max-width: 1600px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px !important;
  padding-bottom: 0;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1600px;
    padding-top: 30px !important;
    padding-bottom: 0;
    margin: 0 auto;
  }
}
@media (max-width: 1920px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1320px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .spb-wrap-wide, .spb-wrap {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .bruktbilHero {
    padding-top: 0 !important;
  }
}
.spb-wrap .breadcrumb {
  color: #4d4d4d;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.spb-page-title {
  font-size: 34px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Name: Typography - SP Bilservice
 * Author: Screenpartner AS
**/
.spb-text-mini {
  font-size: 0.78em;
}

.spb-text-small {
  font-size: 0.89em;
}

.spb-text-base {
  font-size: 1em;
}

.spb-text-medium {
  font-size: 1.38em;
}

.spb-text-large {
  font-size: 1.7em;
}

.spb-color-gray {
  color: #E0E0E0;
}

.spb-color-dark-gray {
  color: #66696E;
}

.spb-margin-bottom {
  margin-bottom: 8px;
}

.spb-remove-margins > * {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Name: Variables - SP Bilservice
 * Author: Screenpartner AS
 *
 * Here is where we declare all our variables like colors, fonts,
 * base values, and defaults. We want to make sure this file ONLY
 * contains variables that way our files don't get all messy.
 * No one likes a mess.
**/
/* COLORS */
/* FONT FAMILY */
/* FONT SIZES */
/* PADDINGS */
/* TRANSITIONS */
/* WRAPS */
/**
  * Name: Buttons - SP Bilservice
  * Author: Screenpartner AS
 **/
.spb-btn {
  line-height: 1;
  display: inline-block;
  background: #2C51D1;
  color: var(--bruktbiler-color-text-overlay);
  text-decoration: none;
  padding: 10px 26px;
  border-radius: 50px;
  text-align: center;
  text-transform: none;
  transition: all 0.215s ease-in-out;
}
.spb-btn.yellow {
  background: #FED637;
  color: var(--bruktbiler-color-text);
}
.spb-btn.yellow:hover, .spb-btn.yellow:focus {
  background: #f7c501;
  color: var(--bruktbiler-color-text);
}
.spb-btn.with-icon {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
}
.spb-btn.with-icon span.spb-icon {
  margin-right: 8px;
}
.spb-btn.with-icon span.spb-icon img, .spb-btn.with-icon span.spb-icon svg {
  width: 16px;
  height: auto;
}
.spb-btn:visited {
  color: var(--bruktbiler-color-text-overlay);
}
.spb-btn:hover, .spb-btn:focus {
  text-decoration: none;
  background-color: var(--bruktbiler-color-main-accent-dark);
}

.spb-wrap input, .spb-wrap button, .spb-wrap a, .spb-wrap h1, .spb-wrap h2, .spb-wrap h3, .spb-wrap h4, .spb-wrap p, .spb-wrap select {
  font-family: "Lato", sans-serif;
}

#spb-filters .spb-search-filter, #spb-filters .spb-reset-filter, #spb-filters .spb-sortby-filter {
  line-height: 1;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

.spb-extra-car-filters .spb-search-filter, .spb-extra-car-filters .spb-reset-filter, .spb-extra-car-filters .spb-sortby-filter {
  line-height: 1;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

#spb-filters .spb-search-filter p, #spb-filters .spb-reset-filter p, #spb-filters .spb-sortby-filter p {
  margin: 0;
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.spb-extra-car-filters .spb-search-filter p, .spb-extra-car-filters .spb-reset-filter p, .spb-extra-car-filters .spb-sortby-filter p {
  margin: 0;
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 8px;
}

#spb-filters .spb-reset-filter p, .spb-extra-car-filters .spb-reset-filter p {
  font-size: 0.89em;
}

#spb-filters .spb-reset-filter p > a, .spb-extra-car-filters .spb-reset-filter p > a {
  text-decoration: none;
  color: #2C51D1;
}

#spb-filters .spb-reset-filter p > a:hover, #spb-filters .spb-reset-filter p > a:focus {
  text-decoration: underline;
}

.spb-extra-car-filters .spb-reset-filter p > a:hover, .spb-extra-car-filters .spb-reset-filter p > a:focus {
  text-decoration: underline;
}

#spb-filters .spb-search-filter, .spb-extra-car-filters .spb-search-filter {
  position: relative;
  margin-bottom: 32px;
  position: relative;
}

#spb-filters .spb-search-filter p, .spb-extra-car-filters .spb-search-filter p {
  font-weight: 600;
}

#spb-filters .spb-search-filter:after, .spb-extra-car-filters .spb-search-filter:after {
  display: block;
  content: "";
  width: 40px;
  height: 50px;
  background-image: url(../images/search.svg);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

#spb-filters .spb-search-filter input[type=search], .spb-extra-car-filters .spb-search-filter input[type=search] {
  font-size: 17px;
  height: 50px;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

#spb-filters > .spb-filterbox, .spb-extra-car-filters > .spb-filterbox {
  margin-bottom: 0px;
  border-top: solid 1px #EEE;
  margin-top: 5px;
  margin-bottom: 5px;
}

#spb-filters > .spb-filterbox:last-child {
  border-bottom: solid 1px #EEE;
}
#spb-filters > .spb-filterbox:last-of-type {
  margin-bottom: 0;
}

.spb-extra-car-filters > .spb-filterbox:last-of-type {
  margin-bottom: 0;
}

#spb-filters .spb-form-check, .spb-extra-car-filters .spb-form-check {
  line-height: 0;
  line-height: 0;
  position: relative;
  margin: 8px 0;
  text-align: left;
  font-size: 17px;
  height: 1.25em;
}

#spb-filters .spb-form-check:first-of-type, .spb-extra-car-filters .spb-form-check:first-of-type {
  margin-top: 0;
}

#spb-filters .spb-form-check:last-of-type, .spb-extra-car-filters .spb-form-check:last-of-type {
  margin-bottom: 0;
}

#spb-filters .spb-form-check input, .spb-extra-car-filters .spb-form-check input {
  line-height: 1.5;
}

#spb-filters .spb-form-check input, #spb-filters .spb-form-check label {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.spb-extra-car-filters .spb-form-check input, .spb-extra-car-filters .spb-form-check label {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

#spb-filters .spb-form-check label, .spb-extra-car-filters .spb-form-check label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
  color: #0D1A25;
}

#spb-filters .spb-form-check label:not(:empty), .spb-extra-car-filters .spb-form-check label:not(:empty) {
  padding-left: 0.75em;
}

#spb-filters .spb-form-check label:before, #spb-filters .spb-form-check label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.spb-extra-car-filters .spb-form-check label:before, .spb-extra-car-filters .spb-form-check label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

#spb-filters .spb-form-check label:before, .spb-extra-car-filters .spb-form-check label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #0D1A25;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

#spb-filters .spb-form-check input[type=checkbox], .spb-extra-car-filters .spb-form-check input[type=checkbox] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

#spb-filters .spb-form-check input[type=checkbox]:checked + label:before, .spb-extra-car-filters .spb-form-check input[type=checkbox]:checked + label:before {
  background: #2C51D1;
  border-color: #2C51D1;
}

#spb-filters .spb-form-check input[type=checkbox]:checked + label:after, .spb-extra-car-filters .spb-form-check input[type=checkbox]:checked + label:after {
  -webkit-transform: translate(0.28em, 0.3596153846em) rotate(-45deg);
  transform: translate(0.28em, 0.3596153846em) rotate(-45deg);
  width: 0.69em;
  height: 0.345em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

#spb-filters .spb-form-check.spb-second-level, .spb-extra-car-filters .spb-form-check.spb-second-level {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: -9999px;
  z-index: -999;
  margin-left: 32px;
}

#spb-filters .spb-form-check.spb-second-level.active, .spb-extra-car-filters .spb-form-check.spb-second-level.active {
  display: block;
  visibility: visible;
  pointer-events: all;
  position: relative;
  left: 0;
  z-index: 0;
}

#spb-filters .spb-slider-header, .spb-extra-car-filters .spb-slider-header, .spb-single-filters .spb-slider-header {
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #66696E;
}

#spb-filters .spb-slider-header #cash_amount_formatted, #spb-filters .spb-slider-header #payback_time_formatted {
  color: var(--bruktbiler-color-text);
  font-weight: 600;
}

.spb-extra-car-filters .spb-slider-header #cash_amount_formatted, .spb-extra-car-filters .spb-slider-header #payback_time_formatted {
  color: var(--bruktbiler-color-text);
  font-weight: 600;
}

.spb-single-filters .spb-slider-header #cash_amount_formatted, .spb-single-filters .spb-slider-header #payback_time_formatted {
  color: var(--bruktbiler-color-text);
  font-weight: 600;
}

#spb-filters .ui-slider, .spb-extra-car-filters .ui-slider, .spb-single-filters .ui-slider {
  background: #E0E0E0;
  border: none;
  height: 6px;
  margin-bottom: 16px;
  border-radius: 0;
  width: calc(100% - 16px);
  margin-left: 8px;
}

#spb-filters .ui-slider:before, #spb-filters .ui-slider:after {
  display: block;
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: #E0E0E0;
  top: 0;
  left: 0;
}

.spb-extra-car-filters .ui-slider:before, .spb-extra-car-filters .ui-slider:after {
  display: block;
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: #E0E0E0;
  top: 0;
  left: 0;
}

.spb-single-filters .ui-slider:before, .spb-single-filters .ui-slider:after {
  display: block;
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: #E0E0E0;
  top: 0;
  left: 0;
}

#spb-filters .ui-slider:before, .spb-extra-car-filters .ui-slider:before, .spb-single-filters .ui-slider:before {
  left: -8px;
}

#spb-filters .ui-slider:after, .spb-extra-car-filters .ui-slider:after, .spb-single-filters .ui-slider:after {
  left: auto;
  right: -8px;
}

#spb-filters .ui-slider .ui-slider-range, .spb-extra-car-filters .ui-slider .ui-slider-range, .spb-single-filters .ui-slider .ui-slider-range {
  border: none;
  background: #2C51D1;
}

#spb-filters .ui-slider .ui-slider-handle, .spb-extra-car-filters .ui-slider .ui-slider-handle, .spb-single-filters .ui-slider .ui-slider-handle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #2C51D1;
  border: 3px solid #fff;
  top: -10px;
}

@media (min-width: 1000px) {
  #spb-filters .ui-slider .ui-slider-handle, .spb-extra-car-filters .ui-slider .ui-slider-handle, .spb-single-filters .ui-slider .ui-slider-handle {
    width: 21px;
    height: 21px;
    top: -7px;
  }
}
#spb-filters .ui-slider .ui-slider-handle:focus, .spb-extra-car-filters .ui-slider .ui-slider-handle:focus, .spb-single-filters .ui-slider .ui-slider-handle:focus {
  outline: none;
}

#spb-filters .ui-slider .ui-slider-handle:active, .spb-extra-car-filters .ui-slider .ui-slider-handle:active, .spb-single-filters .ui-slider .ui-slider-handle:active {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

#spb-filters .spb-slider-footer, .spb-extra-car-filters .spb-slider-footer, .spb-single-filters .spb-slider-footer {
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0;
}

#spb-filters .spb-slider-footer span, .spb-extra-car-filters .spb-slider-footer span, .spb-single-filters .spb-slider-footer span {
  font-weight: 600;
}

#spb-filters .spb-slider-footer input, .spb-extra-car-filters .spb-slider-footer input, .spb-single-filters .spb-slider-footer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #66696E;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 1px;
}

#spb-filters .spb-slider-footer input#max_price, .spb-extra-car-filters .spb-slider-footer input#max_price, .spb-single-filters .spb-slider-footer input#max_price {
  text-align: right;
}

.spb-total-cars {
  float: left;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: none;
  color: #66696E;
  text-decoration: none;
  font-size: 1em;
  margin: 32px 32px 8px 0;
}

.spb-toggle-filters {
  float: left;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  color: var(--bruktbiler-color-text);
  text-decoration: none;
  font-size: 1em;
  border: solid 1px #333;
  padding: 10px;
  border-radius: 8px;
  margin: 32px 0 8px 0;
  background: transparent;
  appearance: none;
}
.spb-toggle-filters svg {
  display: inline-block;
  height: 17px;
  width: auto;
  margin-left: 8px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.spb-toggle-filters:hover svg g g, .spb-toggle-filters:focus svg g g {
  fill: #BE0101;
  stroke: #BE0101;
}
.spb-toggle-filters:hover span, .spb-toggle-filters:focus span {
  text-decoration: none;
}
.spb-toggle-filters.inside {
  float: none;
  text-align: left;
  display: inline-block;
  margin: 0;
}
.spb-toggle-filters.inside svg g g {
  fill: #BE0101;
  stroke: #BE0101;
}

@media (min-width: 1200px) {
  .spb-toggle-filters.inside {
    display: none;
  }
}
@media (min-width: 1200px) {
  .spb-toggle-filters {
    display: none;
  }
}
.spb-extra-car-filters {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
}
.spb-extra-car-filters .spb-extra-filters-top {
  width: 100%;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-filterbox {
  margin-bottom: 32px;
  border: none;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-filterbox .spb-filterbox-extra-info {
  font-size: 0.89em;
  line-height: 1.5;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 8px;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-filterbox .spb-filterbox-extra-info a {
  color: #2C51D1;
  text-decoration: none;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-filterbox .spb-filterbox-extra-info a:hover, .spb-extra-car-filters .spb-extra-filters-top .spb-filterbox .spb-filterbox-extra-info a:focus {
  text-decoration: underline;
  color: #2C51D1;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-filterbox .spb-filterbox-content-wrapper {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  border: 1px solid #E0E0E0;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-sortby-filter p {
  font-weight: normal;
  flex-grow: initial;
  width: 250px;
  margin-right: 5px;
  text-align: right;
  line-height: 2.2;
}
.spb-extra-car-filters .spb-extra-filters-top .spb-sortby-filter select {
  font-size: 16px;
  width: auto;
  height: 41px;
  max-width: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 4px 16px;
  background-image: url("../images/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: 12px;
  font-size: 17px;
  line-height: 1.5;
}
.spb-extra-car-filters .spb-filterbox-content-wrapper {
  width: 100%;
  text-align: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.spb-extra-car-filters .spb-filterbox-content-wrapper #spb-cash-amount, .spb-extra-car-filters .spb-filterbox-content-wrapper #spb-payment-time {
  width: 50%;
}
.spb-extra-car-filters .spb-form-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
.spb-extra-car-filters #spb-toggle-favorites {
  margin-left: auto;
}
.spb-extra-car-filters #spb-toggle-favorites button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: none;
  color: var(--bruktbiler-color-text);
  text-decoration: none;
  font-size: 1em;
  padding: 0;
  margin: 32px 0 8px 0;
  background: transparent;
  appearance: none;
  border: none;
}
.spb-extra-car-filters #spb-toggle-favorites button[disabled] {
  color: #66696E;
}
.spb-extra-car-filters #spb-toggle-favorites button[disabled]:hover {
  cursor: not-allowed;
  text-decoration: none;
}
.spb-extra-car-filters #spb-toggle-favorites button:hover, .spb-extra-car-filters #spb-toggle-favorites button[data-favorites-active=true] {
  display: inline-block;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 17px;
  outline: none;
  border: none;
}
.spb-extra-car-filters #spb-toggle-favorites button:hover span, .spb-extra-car-filters #spb-toggle-favorites button[data-favorites-active=true] span {
  text-decoration: underline;
}
.spb-extra-car-filters #spb-toggle-favorites svg {
  display: inline-block;
  width: 19px;
  margin-right: 8px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

@media (min-width: 768px) {
  .spb-extra-car-filters .spb-extra-filters-top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .spb-extra-car-filters .spb-extra-filters-top .spb-filterbox {
    width: calc(100% - 250px - 32px);
    margin-bottom: 0;
  }
  .spb-extra-car-filters .spb-extra-filters-top .spb-sortby-filter {
    width: 100%;
    text-align: right;
  }
}
.spb-filterbox {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  border: none;
  color: #0D1A25;
  cursor: pointer;
}
.spb-filterbox:first-child {
  border-top: solid 1px #EEEEEE;
}
.spb-filterbox:last-child {
  border-bottom: solid 1px #EEEEEE;
}
.spb-filterbox header.spb-filterbox-header, .spb-filterbox div.spb-filterbox-content {
  padding: 0;
}
.spb-filterbox header.spb-filterbox-header .spb-toggle-box {
  padding: 16px 0;
}
.spb-filterbox div.spb-filterbox-content {
  padding: 0 16px 0px 0px;
}

.spb-filterbox-content {
  margin-bottom: 26px;
}

.spb-filterbox .spb-filterbox-content .spb-main-terms {
  margin-bottom: 16px;
}
.spb-filterbox header.spb-filterbox-header {
  border-bottom: none;
  position: relative;
  line-height: 1;
}
.spb-filterbox header.spb-filterbox-header p {
  margin: 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
.spb-filterbox header.spb-filterbox-header img.spb-toggle-box.closed {
  cursor: pointer;
  padding: 23px 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  transition: -webkit-transform 0.215s ease-in-out;
  transition: transform 0.215s ease-in-out;
  transition: transform 0.215s ease-in-out, -webkit-transform 0.215s ease-in-out;
}
.spb-filterbox header.spb-filterbox-header.open img.spb-toggle-box {
  cursor: pointer;
  padding: 23px 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
  transition: -webkit-transform 0.215s ease-in-out;
  transition: transform 0.215s ease-in-out;
  transition: transform 0.215s ease-in-out, -webkit-transform 0.215s ease-in-out;
}
.spb-filterbox .spb-terms-title {
  padding: 0;
  margin-bottom: 8px;
  color: #66696E;
  font-weight: 600;
}
.spb-filterbox .alle-merker {
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 10px;
  text-decoration: underline;
  color: #0D1A25;
}
.spb-filterbox .spb-secondary-terms {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -99999;
  top: -99999px;
}

.filter-terms-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -99999;
  top: -99999px;
}

.spb-filterbox .spb-secondary-terms-active, .filter-terms-active {
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 1;
  top: 0;
  display: block;
}

.spb-filterbox.loading {
  pointer-events: none;
  opacity: 0.5;
}

dealerpad-widget .tzi-pmtcalc {
  padding: 0;
}
dealerpad-widget .tzi-pmtcalc.expand {
  max-height: 1000px;
}
dealerpad-widget .tzi-pmtcalc .tz-dialog {
  position: static;
  padding: 0;
}
dealerpad-widget .tzi-pmtcalc .tz-dialog .tz-body {
  font-size: 1em;
}
dealerpad-widget .tzi-pmtcalc .tz-dialog .tz-body label {
  font-size: 1em;
}
dealerpad-widget .tzi-pmtcalc .tz-summary.show {
  max-height: 450px;
}
dealerpad-widget .tz-head .summary-link {
  padding: 2px;
}

.spb-favorite-car {
  display: block;
  position: absolute;
  top: 8px;
  right: 16px;
  width: 33px;
  height: 33px;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.spb-favorite-car svg {
  pointer-events: none;
  width: 19px;
  height: auto;
  line-height: 1;
  -webkit-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}
.spb-favorite-car svg path {
  transition: all 0.15s ease-in-out;
}
.spb-favorite-car:hover svg path, .spb-favorite-car:focus svg path, .spb-favorite-car.active svg path {
  fill: #BE0101;
}
.spb-favorite-car:hover, .spb-favorite-car:focus {
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: 0 0 4px 0 rgba(29, 29, 27, 0.1);
}

.soldtrue {
  background: #D0D0D0;
  border-radius: 46px;
  position: absolute;
  width: auto;
  padding: 5px 15px;
  left: 10px;
  top: 10px;
}

.soldtruesingle {
  background: #d0d0d0;
  border-radius: 46px;
  padding: 7.5px 18px;
  margin-bottom: 20px;
  margin-left: -5px;
  display: inline-block;
  font-size: 18px;
}

.spb-card, .spb-cta {
  font-family: "Lato", sans-serif;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.spb-card-left-column .spb-card-place {
  color: #717171;
  font-size: 12px;
  line-height: 1.6rem;
  font-weight: 400;
}

.spb-card .spb-favorite-car, .spb-cta .spb-favorite-car {
  top: 8px;
  right: 16px;
}

.spb-card h1, .spb-card h2, .spb-card h3, .spb-card h4, .spb-card p, .spb-card span {
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
  padding: 0;
}

.spb-cta h1, .spb-cta h2, .spb-cta h3, .spb-cta h4, .spb-cta p, .spb-cta span {
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
  padding: 0;
}

.spb-card h1, .spb-card h2, .spb-card h3 {
  font-weight: normal;
}

.spb-cta h1, .spb-cta h2, .spb-cta h3 {
  font-weight: normal;
}

@media (min-width: 481px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}
@media (min-width: 600px) {
  .spb-card, .spb-cta {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .spb-card, .spb-cta {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}
.spb-card *, .spb-cta * {
  line-height: 1.3;
}

.spb-card a.spb-card-link, .spb-cta a.spb-card-link {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  text-decoration: none;
  min-height: 100%;
  position: relative;
  border: none;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  color: var(--bruktbiler-color-text);
}
.spb-card a.spb-card-link:hover .spb-card-title, .spb-cta a.spb-card-link:hover .spb-card-title {
  color: #2c51d1;
}
.spb-card a.spb-card-link:hover .spb-card-title:after, .spb-cta a.spb-card-link:hover .spb-card-title:after {
  background-color: #2c51d1;
}

.spb-card a.spb-card-link:hover, .spb-card a.spb-card-link:focus {
  background: #fff;
  color: var(--bruktbiler-color-text);
  box-shadow: none;
}

.spb-cta a.spb-card-link:hover, .spb-cta a.spb-card-link:focus {
  background: #fff;
  color: var(--bruktbiler-color-text);
  box-shadow: none;
}

.spb-card a.spb-card-link:hover .spb-card-btn, .spb-card a.spb-card-link:focus .spb-card-btn {
  max-width: 150px;
}

.spb-cta a.spb-card-link:hover .spb-card-btn, .spb-cta a.spb-card-link:focus .spb-card-btn {
  max-width: 150px;
}

.spb-card a.spb-card-link:hover .spb-card-btn span.spb-card-btn-text, .spb-card a.spb-card-link:focus .spb-card-btn span.spb-card-btn-text {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.spb-cta a.spb-card-link:hover .spb-card-btn span.spb-card-btn-text, .spb-cta a.spb-card-link:focus .spb-card-btn span.spb-card-btn-text {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.spb-card a.spb-card-link:hover .spb-card-btn img.spb-card-btn-icon, .spb-card a.spb-card-link:focus .spb-card-btn img.spb-card-btn-icon {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.spb-cta a.spb-card-link:hover .spb-card-btn img.spb-card-btn-icon, .spb-cta a.spb-card-link:focus .spb-card-btn img.spb-card-btn-icon {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.spb-card a.spb-card-link:focus, .spb-cta a.spb-card-link:focus {
  outline: 2px dotted #2C51D1;
  text-decoration: none;
}

.spb-card a.spb-card-link:focus img, .spb-cta a.spb-card-link:focus img {
  outline: none;
}

.spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
  position: relative;
  width: 100%;
  padding-bottom: 67%;
}

.spb-card .spb-thumbnail img, .spb-cta .spb-thumbnail img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.spb-card .spb-thumbnail img.spb-card-car-placeholder, .spb-cta .spb-thumbnail img.spb-card-car-placeholder {
  background-color: #ededed;
  -o-object-fit: contain;
  object-fit: contain;
}

.spb-card .spb-card-info-bar, .spb-cta .spb-card-info-bar {
  background: #2C51D1;
  color: var(--bruktbiler-color-text-overlay);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  text-align: center;
}

.spb-card .spb-card-info-bar span, .spb-cta .spb-card-info-bar span {
  display: block;
  width: 100%;
  font-size: 0.78em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 0;
  position: relative;
  letter-spacing: -0.5px;
}

.spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
  display: none;
}

.spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
  display: none;
}

@media (min-width: 420px) {
  .spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }

  .spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }
}
@media (min-width: 600px) {
  .spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
    display: none;
  }

  .spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
    display: none;
  }
}
@media (min-width: 768px) {
  .spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }

  .spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }
}
@media (min-width: 1000px) {
  .spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
    display: none;
  }

  .spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
    display: none;
  }
}
@media (min-width: 1140px) {
  .spb-card .spb-card-info-bar span.spb-info-mileage, .spb-card .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }

  .spb-cta .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-fuel {
    display: block;
  }
}
.spb-card .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-mileage {
  text-transform: none;
}

.spb-card .spb-card-info-bar span:after, .spb-cta .spb-card-info-bar span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 20px;
  width: 1px;
  background: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spb-card .spb-card-info-bar span:last-child:after, .spb-cta .spb-card-info-bar span:last-child:after {
  content: none;
}

.spb-card .spb-card-main-info, .spb-cta .spb-card-main-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0;
}

.spb-card .spb-card-left-column, .spb-cta .spb-card-left-column {
  max-width: 100%;
  width: 100%;
  margin-right: 16px;
}

.spb-card .spb-card-left-column .car-status-banner, .spb-cta .spb-card-left-column .car-status-banner {
  display: inline-block;
  background: #e0e0e0;
  color: #5f5f5f;
  border-radius: 3px;
  margin: 0 0 8px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
  color: #0D1A25;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: -4px;
  position: relative;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .spb-card .spb-card-left-column .spb-card-title:after, .spb-cta .spb-card-left-column .spb-card-title:after {
    content: "";
    background-color: #000;
    -webkit-mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
    mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
    width: 24px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-subtitle, .spb-cta .spb-card-left-column .spb-card-subtitle {
    font-size: 14px;
    color: #0D1A25;
    padding-bottom: 10px;
    line-height: 17px;
  }
}
.spb-card .spb-card-left-column .spb-card-price, .spb-cta .spb-card-left-column .spb-card-price {
  font-size: 14px;
  color: #4D4D4D;
  line-height: 16, 8px;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-price, .spb-cta .spb-card-left-column .spb-card-price {
    font-size: 1.5em;
  }
}
.renteKampanje {
  padding: 35px 45px;
  margin-bottom: 35px;
  background: #F6F7F9;
  border-radius: 40px;
  display: flex;
  width: calc(100% - 315px - 64px);
  float: right;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.renteKampanje img {
  border-radius: 40px;
  width: 210px;
  height: 270px;
  object-fit: cover;
  object-position: top center;
}
.renteKampanje .renteKampanjeImage {
  margin-right: 5em;
}
.renteKampanje .renteKampanjeContent {
  display: table;
  height: auto;
}
.renteKampanje .renteKampanjeContent div {
  display: table-cell;
  vertical-align: middle;
}
.renteKampanje .renteKampanjeContent div p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
}
.renteKampanje .renteKampanjeContent a {
  background: #2C51D1;
  padding: 15px 40px 15px 15px;
  border-radius: 8px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.renteKampanje .renteKampanjeContent a::after {
  background-image: url(../images/right-arrow-white.svg);
  background-repeat: no-repeat;
  content: "";
  background-position: right center;
  width: 15px;
  display: inline-block;
  right: 15px;
  position: absolute;
  top: 18px;
  height: 15px;
}

@media (max-width: 768px) {
  /* START */
  #spb-content .spb-cars .spb-card {
    border-color: #F6F7F9;
  }

  .spb-card-link {
    min-height: 130px;
  }

  .spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
    padding-bottom: 26%;
  }

  .spb-card .spb-thumbnail img, .spb-cta .spb-thumbnail img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .spb-card-details {
    margin: 5px 0;
    display: flex;
    line-height: 5;
    width: 100%;
  }

  .spb-card a.spb-card-link, .spb-cta a.spb-card-link {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    text-decoration: none;
    min-height: 100%;
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    transition: all 0.25s ease-in-out;
    color: var(--bruktbiler-color-text);
  }

  .spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
    position: relative;
    width: 40%;
    max-height: 100px;
  }

  .spb-card .spb-card-main-info, .spb-cta .spb-card-main-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    width: 60%;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0 0 0 15px;
  }

  .spb-card .spb-card-left-column, .spb-cta .spb-card-left-column {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
  }

  .spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
    color: #0D1A25;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 16px;
    margin-top: -4px;
  }

  .spb-card h1, .spb-card h2, .spb-card h3, .spb-card h4, .spb-card span {
    font-family: "Lato", sans-serif;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding: 0 0 0px 0;
    font-size: 14px;
  }
  .spb-card .spb-card-subtitle {
    font-size: 14px;
  }

  .spb-cta h1, .spb-cta h2, .spb-cta h3, .spb-cta h4, .spb-cta p, .spb-cta span {
    font-family: "Lato", sans-serif;
    letter-spacing: 0;
    padding: 0 0 0px 0;
    font-size: 14px;
  }

  .spb-card-details {
    margin: 5px 0;
    display: flex;
    line-height: 5;
    width: 100%;
  }
  .spb-card-details p {
    margin: 0 0 15px 0;
  }
  .spb-card-details .spb-card-left-column .spb-card-place {
    margin: 0 0 5px 0;
  }

  /* END */
  .renteKampanje {
    order: 2;
    display: block;
    text-align: center;
  }
  .renteKampanje .renteKampanjeImage {
    margin-right: 0;
  }

  .spb-extra-car-filters {
    order: 1;
  }

  #spb-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .spb-cars {
    order: 3;
  }
}
#spb-loadmore {
  order: 4;
}

.spb-card-details {
  margin: 5px 0;
  display: flex;
  line-height: 5;
  width: 100%;
  border-top: solid 0px #D7D7D7;
  border-bottom: solid 0px #D7D7D7;
}

@media (max-width: 782px) {
  .renteKampanje {
    float: none;
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .renteKampanje {
    float: none;
    width: 100%;
  }
}
.spb-card-details div {
  flex-grow: 1;
}
.spb-card-details div:nth-child(2) {
  text-align: center;
}
.spb-card-details div:last-child {
  text-align: right;
}
.spb-card-details div p {
  font-size: 14px;
  color: #717171;
}
.spb-card-details div p img {
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -3px;
}

.spb-card .spb-card-right-column, .spb-cta .spb-card-right-column {
  white-space: nowrap;
}

.spb-card .spb-card-right-column .spb-monthly-price, .spb-cta .spb-card-right-column .spb-monthly-price {
  font-weight: 600;
}

.spb-card .spb-card-right-column > *, .spb-cta .spb-card-right-column > * {
  margin-bottom: 2px;
}

.spb-card .spb-card-right-column > *:last-child, .spb-cta .spb-card-right-column > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-right-column, .spb-cta .spb-card-right-column {
    min-height: 110px;
  }
}
.spb-card .spb-card-btn, .spb-cta .spb-card-btn {
  background: #2C51D1;
  height: 38px;
  width: auto;
  max-width: 38px;
  line-height: 38px;
  border-radius: 50px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
  text-align: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  color: var(--bruktbiler-color-text-overlay);
}

.spb-card .spb-card-btn span.spb-card-btn-text, .spb-cta .spb-card-btn span.spb-card-btn-text {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  transition: all 0.25s ease-in-out;
  margin-right: 16px;
  margin-left: 22px;
  text-transform: uppercase;
  font-size: 0.78em;
  font-weight: 600;
}

.spb-card .spb-card-btn img.spb-card-btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  transition: all 0.25s ease-in-out;
}

.spb-cta {
  font-size: 17px;
  background: #2C51D1;
  padding: 32px;
  color: var(--bruktbiler-color-text-overlay);
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.spb-cta .spb-card-btn img.spb-card-btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  transition: all 0.25s ease-in-out;
}
.spb-cta h3, .spb-cta p a {
  color: var(--bruktbiler-color-text-overlay);
  font-weight: 600;
}
.spb-cta h3 {
  font-size: 1.7em;
}
.spb-cta > * {
  font-size: 1.38em;
  margin-bottom: 32px;
}
.spb-cta > *:last-child {
  margin-bottom: 0;
}
.spb-cta .spb-cta-btn {
  font-size: 1.1em;
  display: inline-block;
  color: var(--bruktbiler-color-text-overlay);
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid var(--bruktbiler-color-text-overlay);
}
.spb-cta .spb-cta-btn:hover {
  background: var(--bruktbiler-color-text-overlay);
  color: #2C51D1;
}

@media (min-width: 1440px) {
  .spb-cta .spb-cta-btn {
    font-size: 1.3em;
  }
}
.spb-back-to-overview {
  display: inline-block;
  font-size: 0.89em;
  color: #2C51D1;
  text-decoration: none;
  margin-bottom: 16px;
}
.spb-back-to-overview:hover, .spb-back-to-overview:focus {
  text-decoration: underline;
}

.content-image_and_text {
  padding: 10px;
}

.spb-single-wrap {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 16px;
}
.spb-single-wrap h1, .spb-single-wrap h2, .spb-single-wrap h3, .spb-single-wrap h4, .spb-single-wrap p, .spb-single-wrap span {
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
}
.spb-single-wrap h1, .spb-single-wrap h2, .spb-single-wrap h3 {
  font-weight: normal;
}
.spb-single-wrap * {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}
@media (min-width: 481px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}
@media (min-width: 600px) {
  .spb-single-wrap {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .spb-single-wrap {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .spb-single-wrap {
    display: block;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .spb-single-wrap {
    grid-template-columns: auto 480px;
  }
}
.spb-car-images {
  position: relative;
}
.spb-car-images .spb-favorite-car {
  position: absolute;
  top: 16px;
  right: 60px;
  z-index: 2;
}

@media (min-width: 1000px) {
  .spb-car-images .spb-favorite-car {
    top: 32px;
    right: 96px;
    height: 50px;
    width: 50px;
  }
  .spb-car-images .spb-favorite-car svg {
    width: 25px;
  }
}
.bordertop {
  height: 1px;
  width: 100%;
  background: #D0D0D0;
}

.tilstandsrapport {
  padding: 3rem 0;
}
.tilstandsrapport .reportRow {
  background: #F6F7F9;
  padding: 0 1rem;
}
.tilstandsrapport .reportRow h3 {
  font-weight: 700;
  font-size: 18px;
}
.tilstandsrapport .reportRow .reportLink {
  line-height: 4rem;
  border-bottom: solid 1px;
}
.tilstandsrapport .reportRow .reportLink:hover {
  color: #2C51D1;
}

.carousel {
  opacity: 0;
  height: 0;
}
.carousel.flickity-enabled {
  opacity: 1;
  height: auto;
}
.carousel.is-fullscreen {
  height: 100%;
  z-index: 3;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
  min-width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 16px;
}
.carousel.is-fullscreen .carousel-cell img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  border-radius: 0;
  height: 100% !important;
}
.carousel.is-fullscreen .flickity-fullscreen-button-exit {
  bottom: auto;
  top: 32px;
}
.carousel .flickity-prev-next-button {
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
  width: 33px;
  height: 33px;
}
.carousel .flickity-prev-next-button svg {
  fill: #1D1D1B;
}
.carousel .flickity-prev-next-button:hover {
  background: #fff;
}
.carousel .flickity-prev-next-button.next {
  right: 16px;
}
.carousel .flickity-prev-next-button.previous {
  left: 16px;
}
.carousel .flickity-fullscreen-button {
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background-color: #fff;
  background-image: url(../images/fullscreen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  line-height: 0;
  bottom: auto;
  top: 16px;
  right: 16px;
  min-width: 1px;
  min-height: 1px;
  max-width: none;
  max-height: none;
  padding: 0;
}
.carousel .flickity-fullscreen-button svg {
  display: none;
}
.carousel .flickity-fullscreen-button:hover, .carousel .flickity-fullscreen-button:focus {
  background-color: #E0E0E0;
}

.spb-car-info-grid {
  margin-top: 90px;
  margin-bottom: -40px !important;
  background: #F6F7F9 !important;
  border-radius: 8px;
  padding: 20px 0px 20px 70px !important;
}

@media (max-width: 960px) {
  .spb-car-info-grid {
    margin-top: 120px !important;
  }

  .spb-car-info-grid {
    margin-top: 90px;
    margin-bottom: -40px !important;
    background: #F6F7F9 !important;
    border-radius: 8px;
    padding: 20px 0px 20px 40px !important;
  }
}
@media (max-width: 768px) {
  .tilstandsrapport {
    padding: 1rem 0;
  }
  .tilstandsrapport .reportRow {
    background: #F6F7F9;
    padding: 0 1rem;
    left: -16px;
    position: relative;
    width: calc(100% + 32px);
  }

  .bordertop {
    display: none;
  }

  .spb-wrap-wide {
    padding-top: 30px !important;
  }

  .usercarSwiper .swiper-wrapper .swiper-slide img {
    border-radius: 0 !important;
    margin-top: 0px !important;
  }
}
@media (min-width: 600px) {
  .admin-bar .carousel.is-fullscreen {
    top: 46px;
    height: calc(100% - 46px);
  }
  .admin-bar .carousel.is-fullscreen .flickity-fullscreen-button-exit {
    top: 78px;
  }
}
@media (min-width: 783px) {
  .admin-bar .carousel.is-fullscreen {
    top: 32px;
    height: calc(100% - 32px);
  }
  .admin-bar .carousel.is-fullscreen .flickity-fullscreen-button-exit {
    top: 64px;
  }
}
@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button.next {
    right: 32px;
  }
}
@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button.previous {
    left: 32px;
  }
}
@media (min-width: 1000px) {
  .carousel .flickity-fullscreen-button {
    width: 50px;
    height: 50px;
    background-size: 22px;
    top: 32px;
    right: 32px;
  }
}
.flickity-viewport {
  transition: height 0.15s ease-in-out;
}

.bruktbiler .bruktbilHero .first-col {
  display: flex !important;
  padding: 0 !important;
  height: calc(10vw + 10vh + 15em) !important;
}

.usercarSwiper {
  margin-bottom: 16px;
}
.usercarSwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto !important;
  border-radius: 16px;
}
.usercarSwiper .swiper-button-next:after, .usercarSwiper .swiper-rtl .swiper-button-prev:after,
.usercarSwiper .swiper-button-prev:after, .usercarSwiper .swiper-rtl .swiper-button-next:after {
  font-size: 24px;
  font-weight: bold;
}
.usercarSwiper .swiper-button-next, .usercarSwiper .swiper-rtl .swiper-button-prev {
  right: 10px;
  background: hsla(0deg, 0%, 100%, 0.75);
  border: none;
  color: #333;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  left: auto;
}
.usercarSwiper .swiper-button-prev, .usercarSwiper .swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
  border-radius: 100%;
  width: 50px;
  background: hsla(0deg, 0%, 100%, 0.75);
  height: 50px;
  color: #333;
}

.pswp__img, .pswp__zoom-wrap {
  object-fit: cover;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  object-fit: contain;
}

.carousel-nav .carousel-cell {
  width: calc(33.33333% - 6px);
  margin-right: 16px;
}
.carousel-nav .carousel-cell img {
  width: 100%;
  height: auto;
  transition: all 0.15s ease-in-out;
}
.carousel-nav .carousel-cell.is-selected img, .carousel-nav .carousel-cell:hover img, .carousel-nav .carousel-cell:focus img {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .carousel-nav .carousel-cell {
    width: calc(25% - 6px);
  }
}
@media (min-width: 1440px) {
  .carousel-nav .carousel-cell {
    width: calc(25% - 6px);
  }
}
@media (min-width: 768px) {
  .spb-car-header {
    display: block;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 32px;
    justify-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    grid-template-areas: "Images Images" "Title Price";
  }
}
@media (min-width: 1000px) {
  .spb-car-header {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .spb-car-header {
    grid-template-columns: 1.5fr 1fr;
  }
}
.spb-car-header > * {
  margin-bottom: 32px;
}
.spb-car-header > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .spb-car-header > * {
    margin-bottom: 0;
  }
}
.spb-wrap-left-column {
  margin-bottom: 0px;
  padding: 0 7.5px;
}

@media (min-width: 1000px) {
  .spb-wrap-left-column {
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .specs h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}
div#contact-card-container {
  display: flex !important;
  flex-wrap: nowrap;
}

.contact .card_container .card {
  display: block;
}
.contact .card_container .card h3 {
  padding: 0 1.5rem !important;
}

.spb-wrap-right-column {
  padding: 0;
}

.spb-wrap-left-column > *, .spb-wrap-right-column > * {
  margin-bottom: 0px;
}

.spb-wrap-left-column > *:last-child, .spb-wrap-right-column > *:last-child {
  margin-bottom: 0;
}

.spb-car-images {
  min-height: 200px;
}

@media (min-width: 768px) {
  .spb-car-images {
    grid-area: Images;
  }
}
.spb-title-section .car-status-banner {
  display: inline-block;
  background: #e0e0e0;
  color: #5f5f5f;
  border-radius: 3px;
  margin: 0 0 8px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.spb-title-section h1 {
  font-size: 1.7em;
  font-weight: 600;
  color: #2C51D1;
  margin-bottom: 8px;
  padding: 0;
}
.spb-title-section h2 {
  font-size: 1.38em;
  padding: 0;
}

@media (min-width: 768px) {
  .spb-title-section {
    grid-area: Title;
  }
}
.spb-single-calculated-price, .spb-single-price {
  margin: 0;
}

.spb-single-calculated-price p, .spb-single-price p {
  padding: 0;
}

.spb-single-calculated-price p:first-of-type, .spb-single-price p:first-of-type {
  margin-bottom: 0;
}

.spb-single-calculated-price .spb-monthly-price {
  font-weight: 600;
}

.spb-price-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.spb-price-section .spb-info-box-left-column > *, .spb-price-section .spb-info-box-right-column > * {
  margin-top: 0;
  margin-bottom: 16px;
}
.spb-price-section .spb-info-box-left-column > *:first-child, .spb-price-section .spb-info-box-right-column > *:first-child {
  margin-top: 0;
}
.spb-price-section .spb-info-box-left-column > *:last-child, .spb-price-section .spb-info-box-right-column > *:last-child {
  margin-bottom: 0;
}
.spb-price-section .spb-info-box-left-column {
  margin-bottom: 16px;
}
.spb-price-section .spb-single-price-value {
  color: #2C51D1;
  font-weight: 600;
}

@media (min-width: 540px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  .spb-price-section .spb-info-box-left-column {
    width: 70%;
    margin-bottom: 0;
  }
  .spb-price-section .spb-info-box-right-column {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .spb-price-section {
    grid-area: Price;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .spb-price-section .spb-info-box-left-column {
    width: 100%;
    margin-bottom: 16px;
  }
  .spb-price-section .spb-info-box-right-column {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  .spb-price-section .spb-info-box-left-column {
    width: 70%;
    margin-bottom: 0;
  }
  .spb-price-section .spb-info-box-right-column {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .spb-price-section {
    grid-area: Price;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .spb-price-section .spb-info-box-left-column {
    width: 100%;
    margin-bottom: 16px;
  }
  .spb-price-section .spb-info-box-right-column {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  .spb-price-section .spb-info-box-left-column {
    width: 70%;
    margin-bottom: 0;
  }
  .spb-price-section .spb-info-box-right-column {
    width: 30%;
  }
}
.spb-info-box {
  background: #fff;
  border: none;
  padding: 32px 0;
}
.spb-info-box h1:before, .spb-info-box h1:after {
  content: none;
}
.spb-info-box h2:before, .spb-info-box h2:after {
  content: none;
}
.spb-info-box h3:before, .spb-info-box h3:after {
  content: none;
}
.spb-info-box p:before, .spb-info-box p:after {
  content: none;
}
.spb-info-box > * {
  margin-top: 0;
  margin-bottom: 16px;
}
.spb-info-box > *:first-child {
  margin-top: 0;
}
.spb-info-box > *:last-child {
  margin-bottom: 0;
}
.spb-info-box.spb-warranty p {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.spb-info-box.spb-warranty > *:last-child {
  margin-bottom: 0;
}

.spb-info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 16px;
}
.spb-info-grid .spb-info-line {
  margin-bottom: 0;
}
.spb-info-grid .spb-info-line > * {
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
}
.spb-info-grid .spb-info-line > *:last-child {
  margin-bottom: 0;
}
.spb-info-grid .spb-info-line .spb-text-base {
  font-weight: 400;
}

@media (min-width: 600px) {
  .spb-info-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .spb-info-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
.anchor-links {
  left: 0;
  right: 0;
  margin: 0px;
  position: absolute;
  display: inline-block;
  padding-left: 70px;
  padding-right: 70px;
}

.anchor-inner {
  width: 1300px;
  justify-content: left;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.anchor-inner::-webkit-scrollbar {
  display: none;
}
.anchor-inner .cardancor {
  width: auto;
  flex-grow: 1;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}
.anchor-inner .cardancor:first-of-type {
  border-radius: 30px 0 0 30px;
  border-left: 1px solid #D0D0D0;
}
.anchor-inner .cardancor:first-of-type a {
  border-radius: 30px 0 0 30px;
}
.anchor-inner .cardancor:last-of-type {
  border-radius: 0 30px 30px 0;
  border-right: 1px solid #D0D0D0;
}
.anchor-inner .cardancor:last-of-type a {
  border-radius: 0 30px 30px 0;
}
.anchor-inner .cardancor a {
  font-size: 16px;
  color: #0D1A25;
  line-height: 50px;
  margin-right: 1rem;
  width: 100%;
  text-align: center;
  padding: 0 15px;
  display: inline-block;
}
.anchor-inner .cardancor a:hover {
  color: #2C51D1;
  background: #F5F7FF;
}

@media (min-width: 1921px) {
  .anchor-inner {
    width: 1600px;
  }
}
@media (max-width: 960px) {
  .anchor-links {
    margin-top: 20px;
  }
}
@media (min-width: 1000px) {
  .spb-info-grid {
    margin-bottom: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .anchor-inner .cardancor {
    width: auto;
  }
}
.firstContent {
  overflow: hidden;
  max-height: 100%;
  height: auto;
}
.firstContent.closed {
  max-height: 200px;
  height: 200px;
}

.spb-description-container {
  margin-top: 40px;
  word-break: break-word;
}

.spb-description h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 1rem;
}
.spb-description p {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px !important;
  line-height: 1.8 !important;
  margin-top: 10px;
}
.spb-description li {
  margin-bottom: 5px;
}
.spb-description .secondContent {
  display: none;
}

.secondContentSpecs {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#visAlt, #visAltSpecs {
  cursor: pointer;
}

.spb-description .secondContent-visible {
  display: block;
}

.secondContentSpecs-visible {
  display: grid;
  opacity: 1;
  height: auto;
  transition: opacity 0.5 ease-in-out;
}

.map-section {
  border-top: solid 1px #D0D0D0;
}

.car-report {
  padding: 10% 0;
  position: relative;
}
.car-report h3 {
  font-size: 24px;
  color: #0D1A25;
  line-height: 30px;
}
.car-report .reportRow {
  padding: 1em 1.5em;
  background: #F6F7F9;
}
.car-report .reportRow .title {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin-right: 5rem;
}

@media (min-width: 1000px) {
  .spb-description-container {
    display: block;
  }
}
.spb-description-container .spb-description {
  margin-bottom: 32px;
}
.spb-description-container .spb-description .pdfURL a {
  font-weight: normal;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .spb-description-container {
    display: block;
  }
}
.spb-description-container .spb-description {
  margin-bottom: 32px;
}
.spb-description-container .spb-description > * {
  margin-bottom: 32px;
  padding: 0;
}
.spb-description-container .spb-description > *:last-child {
  margin-bottom: 0;
}
.spb-description-container .spb-accessories > * {
  margin-bottom: 32px;
}
.spb-description-container .spb-accessories > *:last-child {
  margin-bottom: 0;
}
.spb-description-container ul.spb-accessories-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 32px;
  grid-row: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.spb-description-container ul.spb-accessories-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  .spb-description-container .spb-description {
    margin-bottom: 0;
  }
}
.spb-department {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.spb-department .spb-center-icon-text h3 {
  font-size: 24px;
  color: #0D1A25;
  line-height: 30px;
  margin-bottom: 1rem;
}
.spb-department .spb-center-icon-text p {
  font-size: 18px;
  color: #0D1A25;
  margin-bottom: 1rem;
}
.spb-department #cusmap {
  border-radius: 32px;
}
.spb-department p {
  margin: 1.5rem 0;
}

.trengerdukjopshjelp {
  color: #2C51D1;
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

.spb-sales-person header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.spb-sales-person header > .header-title {
  margin-bottom: 16px;
}
.spb-sales-person header .spb-seller {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.spb-sales-person header .spb-sales-person-profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
}
.spb-sales-person header .spb-sales-person-profile-image img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.spb-sales-person header .spb-sales-person-main-info {
  justify-self: flex-end;
}

.spb-seller {
  margin-bottom: 32px;
}
.spb-seller:last-of-type {
  margin-bottom: 0;
}
.spb-seller p.spb-seller-name {
  font-weight: 500;
  margin-top: -4px;
  margin-bottom: 4px;
}

.spb-sales-person-main-info {
  font-size: 16px;
}
.spb-sales-person-main-info > * {
  margin-bottom: 4px;
}
.spb-sales-person-main-info > *:last-child {
  margin-bottom: 0;
}
.spb-sales-person-main-info .spb-icon img {
  width: 18px;
  height: auto;
}

.spb-department header > *, .spb-sales-person header > * {
  margin: 0;
  padding: 0;
}

.spb-department p, .spb-sales-person p {
  color: var(--bruktbiler-color-text);
  padding: 0;
  font-weight: normal;
}

.spb-department a, .spb-sales-person a {
  text-decoration: none;
}

.spb-department a:hover, .spb-sales-person a:hover {
  text-decoration: underline;
}

.spb-department a .spb-icon, .spb-sales-person a .spb-icon {
  line-height: 0;
}

.spb-department > *, .spb-sales-person > * {
  margin-bottom: 16px;
}

.spb-department > *:last-child, .spb-sales-person > *:last-child {
  margin-bottom: 0;
}

.spb-center-icon-text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.spb-center-icon-text > a {
  color: var(--bruktbiler-color-text);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  word-break: break-word;
}
.spb-center-icon-text .spb-icon {
  display: inline-block;
  line-height: 0;
}
.spb-center-icon-text span {
  margin-right: 8px;
}

.spb-icon-line .spb-icon {
  height: 34px;
  width: 34px;
}
.spb-icon-line .spb-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

a.spb-icon-line {
  text-decoration: none;
}
a.spb-icon-line:hover, a.spb-icon-line:focus {
  text-decoration: underline;
}

.spb-break {
  display: block;
  margin: 16px 0;
  height: 1px;
  width: 100%;
  background: var(--bruktbiler-color-text);
}

.spb-single-filters header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px;
}
.spb-single-filters header h3 {
  margin: 0;
}
.spb-single-filters header img {
  max-width: 120px;
  height: auto;
  width: 100%;
}
.spb-single-filters header img.nordea {
  max-width: 120px;
}
.spb-single-filters .spb-info-box-footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  -webkit-align-items: center;
  align-items: center;
}
.spb-single-filters .spb-info-box-footer-content .spb-info-box-sliders {
  width: 100%;
}
.spb-single-filters .spb-price-box-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.spb-single-filters .spb-price-box-header > * {
  margin: 0 0 4px;
  padding: 0;
}
.spb-single-filters .spb-price-box-header .spb-label {
  margin-right: auto;
  font-weight: 600;
}
.spb-single-filters .spb-price-box {
  text-align: center;
  border: 2px solid #2C51D1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--bruktbiler-color-text);
}
.spb-single-filters .spb-price-box span {
  margin-left: 8px;
}

.moreusedcars {
  padding: 30px 0px 30px 16px !important;
}
.moreusedcars .card-bruktbil {
  width: auto;
  display: auto;
  display: inline-grid;
  width: calc(33% + 32px);
  margin-right: 16px;
  scroll-snap-align: start;
}
.moreusedcars .card-bruktbil .mobileimagethumb {
  width: 100%;
  border-radius: 16px;
}

.kontakt-container {
  display: inline-grid;
}
.kontakt-container #spb-schedule-physical-showing {
  margin: 30px 0;
}

.scrolling-wrapper-flexbox-bruktbil {
  grid-template-columns: repeat(6, minmax(0, 2fr));
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: left;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrolling-wrapper-flexbox-bruktbil::-webkit-scrollbar {
  display: none;
}

.showAllBruktBiler {
  font-size: 20px;
  display: grid;
  grid-template-columns: minmax(40px, 1fr) auto minmax(40px, 1fr);
  align-items: center;
  text-align: center;
  grid-gap: 40px;
  width: 100%;
  margin-top: 5px;
}
.showAllBruktBiler::before, .showAllBruktBiler::after {
  content: "";
  border-top: 2px solid #f6f7f9;
}
.showAllBruktBiler::after {
  margin: 0 0 0 10px;
}
.showAllBruktBiler .arrow-right::after {
  content: "";
  background-color: #000;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
  mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
  display: block;
  width: 20px;
  height: 14px;
  margin-top: 5px;
  margin-right: calc(0.1vh + 0.1vw + 5px);
  float: right;
}
.showAllBruktBiler a:hover {
  color: #2c51d1;
}
.showAllBruktBiler a:hover .arrow-right::after {
  background-color: #2c51d1;
}

@media (min-width: 540px) {
  .spb-single-filters header h3 {
    display: block;
  }
}
@media (max-width: 768px) {
  .moreusedcars .card-bruktbil {
    width: 75%;
  }

  .bruktbiler .bruktbilHero .first-col {
    height: calc(2vw + 2vh + 270px) !important;
  }
}
@media (min-width: 540px) {
  .spb-single-filters header img.volvo {
    max-width: 235px;
  }
}
@media (min-width: 540px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1.2fr 1fr;
  }
}
@media (min-width: 1000px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1.2fr 1fr;
  }

  .moreusedcars {
    padding: 60px !important;
  }
  .moreusedcars .card-bruktbil {
    width: calc(33% - 16px);
    display: inline-grid;
    margin-right: 16px;
  }
}
.flickity-enabled.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  margin: 68px auto;
  right: 0;
  width: 1340px;
  max-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#frmContact {
  border-top: #F0F0F0 2px solid;
  background: #FAF8F8;
  padding: 10px;
}

#frmContact div {
  margin-bottom: 15px;
}

#frmContact div label {
  margin-left: 5px;
}

.demoInputBox {
  padding: 10px;
  border: #F0F0F0 1px solid;
  border-radius: 4px;
}

.error {
  background-color: #FF6600;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 4px;
}

.success {
  background-color: #12CC1A;
  border: #0FA015 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 4px;
}

.info {
  font-size: 0.8em;
  color: #FF6600;
  letter-spacing: 2px;
  padding-left: 5px;
}

.btnAction {
  background-color: #2FC332;
  border: 0;
  padding: 10px 40px;
  color: #FFF;
  border: #F0F0F0 1px solid;
  border-radius: 4px;
}

.spb-popup {
  font-size: 17px;
  font-size: 1em;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(196, 196, 196, 0.8);
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 999;
}
.spb-popup div.wpforms-container-full .wpforms-form h3, .spb-popup h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .spb-popup div.wpforms-container-full .wpforms-form h3, .spb-popup h3 {
    font-size: 18px;
  }
}
.spb-popup .new-section {
  padding-top: 1.8rem !important;
}
.spb-popup.active {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0 !important;
}
.spb-popup .spb-popup-container {
  position: relative;
  background: #fff;
  max-width: 1340px;
  width: 100%;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  max-height: calc(100% - 64px);
}
.spb-popup .spb-popup-container .spb-popup-scroll {
  max-height: 100%;
  overflow-y: auto;
  padding: 64px 32px;
}
.spb-popup .spb-popup-container .spb-popup-scroll .location {
  background: #F5F7FF;
  border: 2px solid #2C51D1;
  border-radius: 16px;
  padding: 1.5em;
  font-weight: 700;
  font-size: 16px;
}
.spb-popup .spb-popup-container .spb-popup-scroll .location .car-name {
  width: 100%;
  display: block;
  color: #717171;
  font-weight: 400;
  margin-top: 5px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .spb-popup .spb-popup-container .spb-popup-scroll .location {
    padding: 1em;
  }
}
.spb-popup .spb-popup-container .spb-close-popup {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  width: auto;
  border-bottom: solid 1px;
  height: 15px;
  line-height: 0;
}
.spb-popup form {
  margin-top: 32px;
}
.spb-popup .spb-form-group {
  margin-bottom: 16px;
}
.spb-popup p {
  text-align: left;
}
.spb-popup input {
  width: 100%;
  max-width: 100%;
}
.spb-popup input[type=text], .spb-popup input[type=email], .spb-popup input[type=tel] {
  height: 56px;
  width: 100%;
  border: 1px solid #E0E0E0;
  outline: none;
  font-size: 17px;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin: 0;
  padding: 8px 16px;
}
.spb-popup input[type=submit] {
  margin-top: 32px;
  line-height: 1;
  display: inline-block;
  background: #2C51D1;
  border: none;
  color: var(--bruktbiler-color-text-overlay);
  text-decoration: none;
  padding: 14px 26px;
  border-radius: 50px;
  text-transform: none;
  transition: all 0.215s ease-in-out;
}
.spb-popup input[type=submit]:visited {
  color: var(--bruktbiler-color-text-overlay);
}
.spb-popup input[type=submit]:hover, .spb-popup input[type=submit]:focus {
  text-decoration: none;
  background-color: var(--bruktbiler-color-main-accent-dark);
  color: var(--bruktbiler-color-text-overlay);
}
.spb-popup .spb-form-check {
  line-height: 0;
  line-height: 0;
  position: relative;
  margin: 16px 0;
  text-align: left;
}

@media (min-width: 1000px) {
  .spb-popup .spb-popup-container .spb-popup-scroll {
    padding: 64px;
  }
}
.spb-form-check .counter {
  display: none !important;
  color: #999;
}

.spb-popup .spb-form-check:first-of-type {
  margin-top: 0;
}
.spb-popup .spb-form-check:last-of-type {
  margin-bottom: 0;
}
.spb-popup .spb-form-check input {
  margin: 0;
  line-height: 1.5;
  font-size: 1em;
}
.spb-popup .spb-form-check label {
  margin: 0;
  line-height: 1.5;
  font-size: 1em;
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
  color: #66696E;
  font-weight: normal;
}
.spb-popup .spb-form-check label:not(:empty) {
  padding-left: 0.75em;
}
.spb-popup .spb-form-check label:before, .spb-popup .spb-form-check label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.spb-popup .spb-form-check label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #2C51D1;
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}
.spb-popup .spb-form-check input[type=checkbox] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.spb-popup .spb-form-check input[type=checkbox]:checked + label:before {
  background: #2C51D1;
  border: none;
}
.spb-popup .spb-form-check input[type=checkbox]:checked + label:after {
  -webkit-transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.spb-popup .spb-form-check:hover input[type=checkbox] + label:before {
  background: var(--bruktbiler-color-main-accent-light);
}

.spb-notice {
  margin-top: 32px;
  padding: 16px;
  background: #E0E0E0;
}
.spb-notice.spb-notice-success {
  background: #e2ffe6;
}
.spb-notice.spb-notice-error {
  background: #ffe2e2;
}

@media (max-width: 768px) {
  .map-section {
    border-top: none;
    margin-top: -6rem;
  }

  .car-report .reportRow {
    margin-left: -30px;
    width: calc(100% + 60px);
    padding-left: 30px;
  }

  .spb-department {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .spb-department #cusmap {
    border-radius: 20px;
  }

  .spb-info-grid {
    margin-top: 1rem;
  }

  .spb-description-container {
    margin-top: 4.2rem;
  }

  .anchor-links {
    padding: 0 0 0 0;
  }

  .anchor-inner {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .anchor-inner a {
    font-size: 16px;
    margin-right: 1rem;
  }

  .spb-extra-car-filters {
    flex-direction: unset;
  }
  .spb-extra-car-filters .spb-extra-filters-top {
    width: auto;
    float: right;
    order: 1;
    margin-bottom: 25px;
    position: relative;
    top: -8px;
    border-radius: 8px;
    padding: 0;
    margin-left: 20px;
  }
  .spb-extra-car-filters .spb-extra-filters-top .spb-sortby-filter p {
    display: none;
  }
  .spb-extra-car-filters .spb-form-header {
    width: auto;
    text-align: left;
    display: inline-block;
  }
  .spb-extra-car-filters .spb-sortby-filter {
    border-radius: 8px;
  }
  .spb-extra-car-filters .spb-extra-filters-top .spb-sortby-filter select {
    border: solid 1px #000000;
    border-radius: 8px;
  }

  .anchor-inner {
    justify-content: left;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0, 2fr));
  }
}
.desktop {
  display: block;
}

.mobile, .inside {
  display: none;
}

.nardoBruktbilSlider .swiper-slide img {
  border-radius: 32px;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.nardoBruktbilSlider .swiper-horizontal > .swiper-pagination-bullets, .nardoBruktbilSlider .swiper-pagination-bullets.swiper-pagination-horizontal, .nardoBruktbilSlider .swiper-pagination-custom, .nardoBruktbilSlider.swiper-pagination-fraction {
  line-height: 17px;
  font-size: 14px;
  padding-top: 5px;
}
.nardoBruktbilSlider span.swiper-pagination-bullet {
  background: #D0D0D0;
  border-color: #D0D0D0;
}
.nardoBruktbilSlider span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
  border-color: #000;
}

.variant {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #4D4D4D;
}

.car_title {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
}

.car_shortInfo .price {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #0D1A25;
}
.car_shortInfo .monthly_price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 3.5;
  color: #0D1A25;
}
.car_shortInfo .monthly_price span {
  background: #F6F7F9;
  border-radius: 3px;
  padding: 15px 20px;
}

.flex-float-right {
  display: inline-block;
  text-align: right;
}
.flex-float-right .btn {
  padding: 10px 15px;
  border: solid 1px #000;
  border-radius: 8px;
  margin-left: 15px;
}
.flex-float-right .reserver {
  border: solid 1px #2C51D1;
  background: #2C51D1;
  color: #fff;
}

.spb-car-images {
  padding-bottom: 1em;
}

.spb-info-line {
  display: flex;
}

.spb-info-box .info-large {
  margin-left: 2em;
}

.spb-info-line .icon {
  margin-top: 0.5em;
  position: relative;
}

.spb-info-box .icon svg {
  position: absolute;
  top: 2px;
  left: 0;
}
.spb-info-box div p {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  line-height: 1.6;
}
.spb-info-box .spb-info-mini {
  font-size: 11px;
  text-transform: uppercase;
}
.spb-info-box .spb-info-large {
  font-size: 14px;
  font-weight: normal;
}

.bruktbilspec {
  padding: 0;
}
.bruktbilspec ul {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.bruktbilspec li {
  list-style: none;
  padding: 1rem 0;
  font-size: 16px;
  font-weight: bold;
}
.bruktbilspec li .bruktbil-specTitle {
  font-weight: 400;
  display: block;
  line-height: 1.9;
}

.secondContent {
  margin-top: 0;
}

.car-specs {
  padding: 3rem 0;
  background: #F6F7F9;
}

.car-specs .specification {
  margin-top: 0em;
  background-color: #F6F7F9;
}
.car-specs .specification .innerSpecs {
  width: calc(100% - 30px);
  max-width: 1260px;
  padding: 0 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}
.car-specs .specification .spec {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  width: 100%;
}

.secondContentSpecs li:nth-child(1), .secondContentSpecs li:nth-child(2), .secondContentSpecs li:nth-child(3) {
  display: none;
}

@media (max-width: 768px) {
  .secondContentSpecs li:nth-child(1), .secondContentSpecs li:nth-child(2), .secondContentSpecs li:nth-child(3) {
    display: block;
  }

  .bruktbilspec ul li:nth-child(7), .bruktbilspec ul li:nth-child(8), .bruktbilspec ul li:nth-child(9) {
    display: none;
  }

  .spb-wrap .breadcrumb {
    margin-top: 10px;
    display: block;
    margin-bottom: 0px;
  }

  .spb-car-images {
    position: relative;
    min-height: 300px;
  }
  .spb-car-images .swiper {
    position: absolute;
    margin-left: -20px;
    margin-right: -20px;
  }

  .car-specs .specification .innerSpecs {
    padding: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .inside {
    display: inline-block;
  }

  #spb-content .spb-filters {
    padding: 16px;
    max-width: 100%;
    box-shadow: none;
  }

  .filter-header {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eee;
  }
  .filter-header a {
    width: 32.2%;
  }
  .filter-header a:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
  }
  .filter-header a:last-child {
    text-align: right;
    text-decoration: underline;
    font-size: 14px;
  }
}
.ui-timepicker-wrapper {
  min-width: 150px;
}

li.ui-timepicker-am, li.ui-timepicker-pm {
  padding: 10px 20px;
}

.testdrive .ui-timepicker-wrapper {
  height: 150px !important;
  width: 195px !important;
}
.testdrive li.ui-timepicker-selected, .testdrive .ui-timepicker-list li:hover, .testdrive .ui-timepicker-list .ui-timepicker-selected:hover {
  background: #2c51d1 !important;
}
.testdrive .ui-timepicker-list li {
  padding: 10px 0 10px 5px !important;
  font-size: 16px !important;
}
.testdrive .wpforms-datepicker, .testdrive .wpforms-timepicker {
  border-color: transparent !important;
  cursor: pointer;
  caret-color: rgba(0, 0, 0, 0);
  color: #717171 !important;
  padding: 1.5em 1em 1.5em 2em !important;
}
.testdrive #main .wpforms-container .wpforms-submit {
  background: #2c51d1 !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 14px 25px 14px 0px !important;
  font-size: 18px !important;
  border: none !important;
  width: 225px !important;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat !important;
  background-position: calc(60% + 60px) center !important;
  order: 2;
  cursor: pointer !important;
  margin: 10px 15px !important;
}
.testdrive #main .wpforms-container input {
  border: 1px solid #717171;
  border-radius: 8px;
}
.testdrive .wpforms-submit-container {
  margin: 1.5em 0px 0 0;
  display: inline-flex;
  justify-content: center;
  width: auto !important;
  flex-wrap: nowrap;
  line-height: 4em;
}
.testdrive .wpforms-submit-container .avbryt {
  color: #000;
  text-decoration: underline !important;
  order: 1;
  cursor: pointer;
  margin-left: 1.5em;
}
@media (max-width: 768px) {
  .testdrive #main .wpforms-container .wpforms-submit {
    order: 1 !important;
  }
  .testdrive .wpforms-submit-container {
    margin-top: 10px !important;
    line-height: 2em !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .testdrive .wpforms-submit-container .avbryt {
    display: block;
    order: 2 !important;
    width: 100% !important;
    text-align: center;
  }
}
.testdrive .wpforms-datepicker-wrap {
  position: relative;
}
.testdrive .wpforms-datepicker-wrap:first-child::before {
  content: " ";
  display: block;
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9H6V11H4V9ZM18 4V18C18 19.1 17.1 20 16 20H2C0.89 20 0 19.1 0 18L0.00999999 4C0.00999999 2.9 0.89 2 2 2H3V0H5V2H13V0H15V2H16C17.1 2 18 2.9 18 4ZM2 6H16V4H2V6ZM16 18V8H2V18H16ZM12 11H14V9H12V11ZM8 11H10V9H8V11Z' fill='%23717171'/%3E%3C/svg%3E%0A");
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 12px !important;
}
.testdrive .wpforms-one-half:not(.wpforms-first) {
  position: relative !important;
}
.testdrive .wpforms-one-half:not(.wpforms-first):nth-child(2)::before {
  content: " ";
  display: block;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='20px' height='20px'%3E%3Cpath d='M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24.984375 6.9863281 A 1.0001 1.0001 0 0 0 24 8 L 24 22.173828 A 3 3 0 0 0 22 25 A 3 3 0 0 0 22.294922 26.291016 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 23.708984 27.705078 A 3 3 0 0 0 25 28 A 3 3 0 0 0 28 25 A 3 3 0 0 0 26 22.175781 L 26 8 A 1.0001 1.0001 0 0 0 24.984375 6.9863281 z'/%3E%3C/svg%3E");
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 13px !important;
}
.testdrive body .flatpickr-calendar .selected {
  color: #fff !important;
}

.spb-page-header {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .spb-page-header {
    margin-bottom: 0;
  }
  .spb-page-header .spb-page-title {
    font-size: 24px;
  }

  .breadcrumb {
    display: none;
  }
}
.page-numbers {
  width: 100%;
  display: block;
  text-align: center;
}
.page-numbers li {
  display: inline-block;
}
.page-numbers li a {
  font-weight: normal;
  width: 100%;
  margin-left: -10px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  border-radius: 100%;
  height: 44px;
  display: block;
  margin: 20px 2.5px 0 2.5px;
  line-height: 43px;
  width: 44px;
  left: 0;
  border: solid 1px transparent;
  right: 0;
}
.page-numbers li a.prev.page-numbers svg {
  transform: rotate(180deg);
}

.page-numbers.current {
  color: #2C51D1;
  font-weight: 600;
  border: solid 1px #2C51D1;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  margin: 0 5px;
  line-height: 43px;
  font-size: 20px;
  display: block;
}

#spb-content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; */
  display: block;
  padding: 0;
}
#spb-content > * {
  margin-bottom: 30px;
}
#spb-content > *:last-child {
  margin-bottom: 0;
}
#spb-content .spb-filters {
  width: 100%;
}
#spb-content .spb-pagination {
  width: calc(100% - 315px - 64px);
  float: right;
  text-align: center;
}
#spb-content .spb-cars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 32px 24px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
#spb-content .spb-cars .spb-card {
  margin: 0;
  border-bottom: solid 1px #D7D7D7;
}
#spb-content .spb-cars.loading {
  opacity: 0.5;
  pointer-events: none;
}
#spb-content .spb-cars .spb-cta-new {
  background: #F5F7F9;
  height: 100%;
  line-height: 100%;
  display: table;
  border-radius: 16px;
}
#spb-content .spb-cars .spb-cta-new .cta-inner {
  padding: 2em 1em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#spb-content .spb-cars .spb-cta-new .cta-inner h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: #0D1A25;
}
#spb-content .spb-cars .spb-cta-new .cta-inner p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
#spb-content .spb-cars .spb-cta-new .cta-inner a.btn {
  background: #2c51d1;
  color: #fff;
  border-radius: 5px;
  padding: 14px 25px 14px 0px;
  font-size: 18px;
  border: none;
  width: 130px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(25% + 65px) center;
}
#spb-content .spb-cars .spb-cta-new .cta-inner a.btn:hover {
  background: #2d438c;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(25% + 65px) center;
}
#spb-content #spb-loadmore {
  text-align: center;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  color: var(--bruktbiler-color-text);
  padding: 1.2em 4em 1.2em 3em;
  border: solid 1px;
  border-radius: 8px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  min-width: 180px;
}
#spb-content #spb-loadmore::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  content: "";
  background-position: right center;
  width: 15px;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  transform: rotate(90deg);
  top: 20px;
  height: 15px;
  transition: all 0.1s ease-in-out;
}
#spb-content #spb-loadmore:hover {
  border-color: #2c51d1;
  color: #2c51d1;
}
#spb-content #spb-loadmore:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='%232C51D1'/%3E%3C/svg%3E%0A");
}
#spb-content .loading {
  transition: all 0.1s ease-in-out;
  border-color: #2c51d1 !important;
  color: #2c51d1 !important;
  fill: green;
  stroke-width: 3;
  stroke: yellow;
  border-radius: 10%;
  stroke-dashoffset: -50px;
  animation: loader-animation 4s linear;
}
#spb-content .loading::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;' width='25px' height='25px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%232c51d1' stroke-width='10' r='35' stroke-dasharray='164.93361431346415 56.97787143782138'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E") !important;
  width: 25px !important;
  margin-top: -5px !important;
  height: 25px !important;
  margin-left: 5px !important;
  transition: all 0.1s ease-in-out;
}
@keyframes loader-animation {
  0% {
    stroke-dasharray: 0, 400px;
  }
  100% {
    stroke-dasharray: 400px, 0;
  }
}

@media (max-width: 782px) {
  body.admin-bar #spb-content .spb-filters {
    height: calc(100vh - 46px);
    top: 46px;
  }

  .spb-pagination {
    width: 100% !important;
  }
}
@media (min-width: 783px) {
  body.admin-bar #spb-content .spb-filters {
    height: calc(100vh - 32px);
    top: 32px;
  }
}
@media (min-width: 1200px) {
  #spb-content .spb-filters {
    width: 315px;
    float: left;
    height: auto;
  }

  body.admin-bar #spb-content .spb-filters {
    height: auto;
    top: 0;
  }
}
@media (max-width: 1199px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1200px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
  }

  #spb-content .spb-filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    background: #fff;
    z-index: 9;
    padding: 64px 32px;
    box-shadow: 0 0 0 0 rgba(29, 29, 27, 0.1);
    overflow-y: auto;
    height: 100vh;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.215s ease-in-out;
  }
  #spb-content .spb-filters.active {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 15px 0 rgba(29, 29, 27, 0.1);
  }
}
@media (min-width: 600px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1000px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  #spb-content .spb-cars {
    width: calc(100% - 315px - 64px);
    float: right;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1440px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  #spb-content .spb-extra-car-filters {
    width: calc(100% - 315px - 64px);
    float: right;
  }
}
@media (min-width: 1200px) {
  #spb-content #spb-loadmore {
    text-align: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
    color: var(--bruktbiler-color-text);
    padding: 1.2em 4em 1.2em 3em;
    border: solid 1px;
    border-radius: 8px;
    font-size: 16px;
  }
}
.cvf_pag_loading {
  padding: 20px;
}

.cvf-universal-pagination ul {
  margin: 0;
  padding: 0;
}

.cvf-universal-pagination ul li {
  display: inline;
  margin: 3px;
  padding: 4px 8px;
  background: #FFF;
  color: black;
}

.cvf-universal-pagination ul li.active:hover {
  cursor: pointer;
  background: #1E8CBE;
  color: white;
}

.cvf-universal-pagination ul li.inactive {
  background: #7E7E7E;
}

.cvf-universal-pagination ul li.selected {
  background: #1E8CBE;
  color: white;
}

.spb-search-filter:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.searchInputEmpty:after {
  display: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=sp-bilservice-public.css.map */
