/**
 * Name: Typography - SP Bilservice
 * Author: Screenpartner AS
**/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.spb-text-mini {
  font-size: 0.78em;
}

.spb-text-small {
  font-size: 0.89em;
}

.spb-text-base {
  font-size: 1em;
}

.spb-text-medium {
  font-size: 1.38em;
}

.spb-text-large {
  font-size: 1.7em;
}

.spb-color-gray {
  color: #E0E0E0;
}

.spb-color-dark-gray {
  color: #66696E;
}

.spb-margin-bottom {
  margin-bottom: 8px;
}

.spb-remove-margins > * {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}


