/**
 * Name: Variables - SP Bilservice
 * Author: Screenpartner AS
 *
 * Here is where we declare all our variables like colors, fonts,
 * base values, and defaults. We want to make sure this file ONLY
 * contains variables that way our files don't get all messy.
 * No one likes a mess.
**/

/* COLORS */

$black:           #1D1D1B;
$white:           #fff;
$gray:            #E0E0E0;
$dark-gray:       #66696E;
$light-blue:      #87A8C1;
$dark-blue:       #24618E;
$red:             #BE0101;
$yellow:          #FED637;

/* FONT FAMILY */

//$main-font:       'PT Sans', sans-serif;
$main-font:       inherit;

/* FONT SIZES */

$size-mini:       14px;
$size-small:      16px;
$size-base:       17px;
$size-medium:     28px;
$size-large:      36px;

$size-mini:       .78em;
$size-small:      .89em;
$size-base:       1em;
$size-medium:     1.38em;
$size-large:      1.7em;


/* PADDINGS */

$small-padding:    8px;
$half-padding:    16px;
$base-padding:    32px;
$double-padding:  64px;

/* TRANSITIONS */

$transition:      all .25s ease-in-out;

/* WRAPS */

$max-wrap:         calc(1700px + #{$double-padding});
