.spb-card-details {
  margin: 5px 0;
  display: flex;
  line-height: 5;
  width: 100%;
}

.spb-wrap {
  width: 100%;
  max-width: 1200px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.spb-wrap-wide {
  width: 100%;
  max-width: 1600px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 60px !important;
  padding-bottom: 0;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1600px;
    padding-top: 30px !important;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media (max-width: 1920px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1320px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .spb-wrap-wide, .spb-wrap {
    padding-left: 16px !important;;
    padding-right: 16px !important;;
  }
  .bruktbilHero {
    padding-top: 0 !important;
  }
}

.spb-wrap .breadcrumb {
  color: #4d4d4d;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.spb-page-title {
  font-size: 34px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}