.spb-page-header {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .spb-page-header {
    margin-bottom: 0;

    .spb-page-title {
      font-size: 24px;
    }
  }

  .breadcrumb {
    display: none;
  }
}

.page-numbers {
  width: 100%;
  display: block;
  text-align: center;

  li {
    display: inline-block;

    a {
      font-weight: normal;
      width: 100%;
      margin-left: -10px;
      text-align: center;
      font-size: 20px;
      padding: 0;
      border-radius: 100%;
      height: 44px;
      display: block;
      margin: 20px 2.5px 0 2.5px;
      line-height: 43px;
      width: 44px;
      left: 0;
      border: solid 1px transparent;
      right: 0;

      &.prev.page-numbers svg {
        transform: rotate(180deg);
      }
    }
  }
}

.page-numbers.current {
  color: #2C51D1;
  font-weight: 600;
  border: solid 1px #2C51D1;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  margin: 0 5px;
  line-height: 43px;
  font-size: 20px;
  display: block;
}

#spb-content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; */
  display: block;
  padding: 0;

  >* {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .spb-filters {
    width: 100%;
  }

  .spb-pagination {
    width: calc(100% - 315px - 64px);
    float: right;
    text-align: center;
  }

  .spb-cars {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-gap: 32px 24px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    .spb-card {
      margin: 0;
      border-bottom: solid 1px #D7D7D7;
    }

    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }

    .spb-cta-new {
      background: #F5F7F9;
      height: 100%;
      line-height: 100%;
      display: table;
      border-radius: 16px;

      .cta-inner {
        padding: 2em 1em;
        text-align: center;
        display: table-cell;
        vertical-align: middle;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 21.6px;
          color: #0D1A25;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }

        a.btn {
          background: #2c51d1;
          color: #fff;
          border-radius: 5px;
          padding: 14px 25px 14px 0px;
          font-size: 18px;
          border: none;
          width: 130px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: calc(25% + 65px) center;

          &:hover {
            background: #2d438c;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: calc(25% + 65px) center;
          }
        }
      }
    }
  }

  #spb-loadmore {
    text-align: center;
    margin: 0 auto;
    background: rgba(0,0,0,0);
    color: var(--bruktbiler-color-text);
    padding: 1.2em 4em 1.2em 3em;
    border: solid 1px;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    min-width: 180px;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      content: "";
      background-position: right center;
      width: 15px;
      display: inline-block;
      margin-left: 10px;
      position: absolute;
      transform: rotate(90deg);
      top: 20px;
      height: 15px;
      transition: all .1s ease-in-out;
    }
    &:hover {
      border-color: #2c51d1;
      color: #2c51d1;
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='%232C51D1'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .loading {
    transition: all 0.1s ease-in-out;
    border-color: #2c51d1 !important;
    color: #2c51d1 !important;
    fill:green;
    stroke-width:3;
    stroke:yellow;
    border-radius: 10%;
    stroke-dashoffset: -50px;
    animation: loader-animation 4s linear;
    &::after {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;' width='25px' height='25px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%232c51d1' stroke-width='10' r='35' stroke-dasharray='164.93361431346415 56.97787143782138'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'%3E%3C/animateTransform%3E%3C/circle%3E%3C/svg%3E") !important;
      width: 25px !important;
      margin-top: -5px !important;
      height: 25px !important;
      margin-left: 5px !important;
      transition: all .1s ease-in-out;
    }
  }
  @keyframes loader-animation {
    0% {
      stroke-dasharray: 0, 400px;
    }
    100% {
      stroke-dasharray: 400px, 0;
    }
  }
}

@media (max-width: 782px) {
  body.admin-bar #spb-content .spb-filters {
    height: calc(100vh - 46px);
    top: 46px;
  }

  .spb-pagination {
    width: 100% !important;
  }
}

@media (min-width: 783px) {
  body.admin-bar #spb-content .spb-filters {
    height: calc(100vh - 32px);
    top: 32px;
  }
}

@media (min-width: 1200px) {
  #spb-content .spb-filters {
    width: 315px;
    float: left;
    height: auto;
  }

  body.admin-bar #spb-content .spb-filters {
    height: auto;
    top: 0;
  }
}

@media (max-width: 1199px) {
  .spb-wrap-wide-singlecar {
    width: 100%;
    max-width: 1200px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
  }

  #spb-content .spb-filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    background: #fff;
    z-index: 9;
    padding: 64px 32px;
    box-shadow: 0 0 0 0 rgba(29, 29, 27, 0.1);
    overflow-y: auto;
    height: 100vh;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.215s ease-in-out;

    &.active {
      pointer-events: all;
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      box-shadow: 0 0 15px 0 rgba(29, 29, 27, 0.1);
    }
  }
}

@media (min-width: 600px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  #spb-content .spb-cars {
    width: calc(100% - 315px - 64px);
    float: right;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  #spb-content .spb-cars {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  #spb-content .spb-extra-car-filters {
    width: calc(100% - 315px - 64px);
    float: right;
  }
}

@media (min-width: 1200px) {
  #spb-content #spb-loadmore {
    text-align: center;
    margin: 0 auto;
    background: rgba(0,0,0,0);
    color: var(--bruktbiler-color-text);
    padding: 1.2em 4em 1.2em 3em;
    border: solid 1px;
    border-radius: 8px;
    font-size: 16px;
  }
}

.cvf_pag_loading {
  padding: 20px;
}

.cvf-universal-pagination ul {
  margin: 0;
  padding: 0;
}

.cvf-universal-pagination ul li {
  display: inline;
  margin: 3px;
  padding: 4px 8px;
  background: #FFF;
  color: black;
}

.cvf-universal-pagination ul li.active:hover {
  cursor: pointer;
  background: #1E8CBE;
  color: white;
}

.cvf-universal-pagination ul li.inactive {
  background: #7E7E7E;
}

.cvf-universal-pagination ul li.selected {
  background: #1E8CBE;
  color: white;
}

.spb-search-filter:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.searchInputEmpty:after {
  display: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}