/**
  * Name: Buttons - SP Bilservice
  * Author: Screenpartner AS
 **/

 .spb-btn {
  line-height: 1;
  display: inline-block;
  background: #2C51D1;
  color: var(--bruktbiler-color-text-overlay);
  text-decoration: none ;
  padding: 10px 26px;
  border-radius: 50px;
  text-align: center;
  text-transform: none;
  transition: all 0.215s ease-in-out;

  &.yellow {
    background: #FED637;
    color: var(--bruktbiler-color-text);

    &:hover, &:focus {
      background: #f7c501;
      color: var(--bruktbiler-color-text);
    }
  }

  &.with-icon {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;

    span.spb-icon {
      margin-right: 8px;

      img, svg {
        width: 16px;
        height: auto;
      }
    }
  }

  &:visited {
    color: var(--bruktbiler-color-text-overlay);
  }

  &:hover, &:focus {
    text-decoration: none ;
    background-color: var(--bruktbiler-color-main-accent-dark);
  }
}