.spb-favorite-car {
  display: block;
  position: absolute;
  top: 8px;
  right: 16px;
  width: 33px;
  height: 33px;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  svg {
    pointer-events: none;
    width: 19px;
    height: auto;
    line-height: 1;
    -webkit-transform: translate(0px, 1px);
    transform: translate(0px, 1px);

    path {
      transition: all 0.15s ease-in-out;
    }
  }

  &:hover svg path, &:focus svg path, &.active svg path {
    fill: #BE0101;
  }

  &:hover, &:focus {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
    box-shadow: 0 0 4px 0 rgba(29, 29, 27, 0.1);
  }
}

.soldtrue {
  background: #D0D0D0;
  border-radius: 46px;
  position: absolute;
  width: auto;
  padding: 5px 15px;
  left: 10px;
  top: 10px;
}

.soldtruesingle {
  background: #d0d0d0;
  border-radius: 46px;
  padding: 7.5px 18px;
  margin-bottom: 20px;
  margin-left: -5px;
  display: inline-block;
  font-size: 18px;
}

.spb-card, .spb-cta {
  font-family: "Lato",sans-serif;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.spb-card-left-column {
  .spb-card-place {
    color: #717171;
    font-size: 12px;
    line-height: 1.6rem;
    font-weight: 400;
  }
}

.spb-card .spb-favorite-car, .spb-cta .spb-favorite-car {
  top: 8px;
  right: 16px;
}

.spb-card {
  h1, h2, h3, h4, p, span {
    font-family: "Lato",sans-serif;
    letter-spacing: 0;
    padding: 0;
  }
}

.spb-cta {
  h1, h2, h3, h4, p, span {
    font-family: "Lato",sans-serif;
    letter-spacing: 0;
    padding: 0;
  }
}

.spb-card {
  h1, h2, h3 {
    font-weight: normal;
  }
}

.spb-cta {
  h1, h2, h3 {
    font-weight: normal;
  }
}

@media (min-width: 481px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}

@media (min-width: 600px) {
  .spb-card, .spb-cta {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}

@media (min-width: 1000px) {
  .spb-card, .spb-cta {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .spb-card, .spb-cta {
    font-size: 17px;
  }
}

.spb-card *, .spb-cta * {
  line-height: 1.3;
}

.spb-card a.spb-card-link, .spb-cta a.spb-card-link {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  text-decoration: none;
  min-height: 100%;
  position: relative;
  border: none;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  color: var(--bruktbiler-color-text);
  &:hover {
    .spb-card-title {
      color: #2c51d1;
    }
    .spb-card-title {
      &:after {
        background-color: #2c51d1;
      }
    }
  }
  
}

.spb-card a.spb-card-link {
  &:hover, &:focus {
    background: #fff ;
    color: var(--bruktbiler-color-text);
    box-shadow: none;
  }
}

.spb-cta a.spb-card-link {
  &:hover, &:focus {
    background: #fff ;
    color: var(--bruktbiler-color-text);
    box-shadow: none;
  }
}

.spb-card a.spb-card-link {
  &:hover .spb-card-btn, &:focus .spb-card-btn {
    max-width: 150px;
  }
}

.spb-cta a.spb-card-link {
  &:hover .spb-card-btn, &:focus .spb-card-btn {
    max-width: 150px;
  }
}

.spb-card a.spb-card-link {
  &:hover .spb-card-btn span.spb-card-btn-text, &:focus .spb-card-btn span.spb-card-btn-text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.spb-cta a.spb-card-link {
  &:hover .spb-card-btn span.spb-card-btn-text, &:focus .spb-card-btn span.spb-card-btn-text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.spb-card a.spb-card-link {
  &:hover .spb-card-btn img.spb-card-btn-icon, &:focus .spb-card-btn img.spb-card-btn-icon {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.spb-cta a.spb-card-link {
  &:hover .spb-card-btn img.spb-card-btn-icon, &:focus .spb-card-btn img.spb-card-btn-icon {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.spb-card a.spb-card-link:focus, .spb-cta a.spb-card-link:focus {
  outline: 2px dotted #2C51D1 ;
  text-decoration: none ;
}

.spb-card a.spb-card-link:focus img, .spb-cta a.spb-card-link:focus img {
  outline: none ;
}

.spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
  position: relative;
  width: 100%;
  padding-bottom: 67%;
}

.spb-card .spb-thumbnail img, .spb-cta .spb-thumbnail img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.spb-card .spb-thumbnail img.spb-card-car-placeholder, .spb-cta .spb-thumbnail img.spb-card-car-placeholder {
  background-color: #ededed;
  -o-object-fit: contain;
  object-fit: contain;
}

.spb-card .spb-card-info-bar, .spb-cta .spb-card-info-bar {
  background: #2C51D1;
  color: var(--bruktbiler-color-text-overlay);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  text-align: center;
}

.spb-card .spb-card-info-bar span, .spb-cta .spb-card-info-bar span {
  display: block;
  width: 100%;
  font-size: 0.78em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 0;
  position: relative;
  letter-spacing: -0.5px;
}

.spb-card .spb-card-info-bar span {
  &.spb-info-mileage, &.spb-info-fuel {
    display: none;
  }
}

.spb-cta .spb-card-info-bar span {
  &.spb-info-mileage, &.spb-info-fuel {
    display: none;
  }
}

@media (min-width: 420px) {
  .spb-card .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }

  .spb-cta .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }
}

@media (min-width: 600px) {
  .spb-card .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: none;
    }
  }

  .spb-cta .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .spb-card .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }

  .spb-cta .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }
}

@media (min-width: 1000px) {
  .spb-card .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: none;
    }
  }

  .spb-cta .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: none;
    }
  }
}

@media (min-width: 1140px) {
  .spb-card .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }

  .spb-cta .spb-card-info-bar span {
    &.spb-info-mileage, &.spb-info-fuel {
      display: block;
    }
  }
}

.spb-card .spb-card-info-bar span.spb-info-mileage, .spb-cta .spb-card-info-bar span.spb-info-mileage {
  text-transform: none;
}

.spb-card .spb-card-info-bar span:after, .spb-cta .spb-card-info-bar span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  height: 20px;
  width: 1px;
  background: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.spb-card .spb-card-info-bar span:last-child:after, .spb-cta .spb-card-info-bar span:last-child:after {
  content: none;
}

.spb-card .spb-card-main-info, .spb-cta .spb-card-main-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0;
}

.spb-card .spb-card-left-column, .spb-cta .spb-card-left-column {
  max-width: 100%;
  width: 100%;
  margin-right: 16px;
}

.spb-card .spb-card-left-column .car-status-banner, .spb-cta .spb-card-left-column .car-status-banner {
  display: inline-block;
  background: #e0e0e0;
  color: #5f5f5f;
  border-radius: 3px;
  margin: 0 0 8px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}


.spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
  color: #0D1A25;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: -4px;
  position: relative;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 5px;
    &:after {
      content: "";
      background-color: #000;
      -webkit-mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
      mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
      width: 24px;
      height: 15px;
      position: absolute;
      right: 0px;
      top: 0;
      transition: all .3s ease-in-out;
    }
  }
}

@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-subtitle, .spb-cta .spb-card-left-column .spb-card-subtitle {
    font-size: 14px ;
    color: #0D1A25;
    padding-bottom: 10px;
    line-height: 17px;
  }
}

.spb-card .spb-card-left-column .spb-card-price, .spb-cta .spb-card-left-column .spb-card-price {
  font-size: 14px;
  color: #4D4D4D;
  line-height: 16,8px;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-left-column .spb-card-price, .spb-cta .spb-card-left-column .spb-card-price {
    font-size: 1.5em;
  }
}

.renteKampanje {
  padding: 35px 45px;
  margin-bottom: 35px;
  background: #F6F7F9;
  border-radius: 40px;
  display: flex;
  width: calc(100% - 315px - 64px);
  float: right;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  img {
    border-radius: 40px;
    width: 210px;
    height: 270px;
    object-fit: cover;
    object-position: top center;
  }

  .renteKampanjeImage {
    margin-right: 5em;
  }

  .renteKampanjeContent {
    display: table;
    height: auto;

    div {
      display: table-cell;
      vertical-align: middle;

      p {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 27px;
      }
    }

    a {
      background: #2C51D1;
      padding: 15px 40px 15px 15px;
      border-radius: 8px;
      color: #fff;
      position: relative;
      display: inline-block;

      &::after {
        background-image: url(../images/right-arrow-white.svg);
        background-repeat: no-repeat;
        content: '';
        background-position: right center;
        width: 15px;
        display: inline-block;
        right: 15px;
        position: absolute;
        top: 18px;
        height: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  /* START */

  #spb-content .spb-cars .spb-card {
    border-color: #F6F7F9;
  }

  .spb-card-link {
    min-height: 130px;
  }

  .spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
    padding-bottom: 26%;
  }

  .spb-card .spb-thumbnail img, .spb-cta .spb-thumbnail img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .spb-card-details {
    margin: 5px 0;
    display: flex;
    line-height: 5;
    width: 100%;
  }

  .spb-card a.spb-card-link, .spb-cta a.spb-card-link {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    text-decoration: none;
    min-height: 100%;
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    transition: all 0.25s ease-in-out;
    color: var(--bruktbiler-color-text);
  }

  .spb-card .spb-thumbnail, .spb-cta .spb-thumbnail {
    position: relative;
    width: 40%;
    max-height: 100px;
  }

  .spb-card .spb-card-main-info, .spb-cta .spb-card-main-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    width: 60%;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0 0 0 15px;
  }

  .spb-card .spb-card-left-column, .spb-cta .spb-card-left-column {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
  }

  .spb-card .spb-card-left-column .spb-card-title, .spb-cta .spb-card-left-column .spb-card-title {
    color: #0D1A25;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 16px;
    margin-top: -4px;
  }

  .spb-card {
    h1, h2, h3, h4, span {
      font-family: "Lato",sans-serif;
      letter-spacing: 0;
      margin-bottom: 10px;
      padding: 0 0 0px 0;
      font-size: 14px;
    }
    .spb-card-subtitle {
      font-size: 14px;
    }
  }

  .spb-cta {
    h1, h2, h3, h4, p, span {
      font-family: "Lato",sans-serif;
      letter-spacing: 0;
      padding: 0 0 0px 0;
      font-size: 14px;
    }
  }

  .spb-card-details {
    margin: 5px 0;
    display: flex;
    line-height: 5;
    width: 100%;
    p {
      margin: 0 0 15px 0;
    }
    .spb-card-left-column .spb-card-place {
      margin: 0 0 5px 0;
    }
  }

  /* END */

  .renteKampanje {
    order: 2;
    display: block;
    text-align: center;

    .renteKampanjeImage {
      margin-right: 0;
    }
  }

  .spb-extra-car-filters {
    order: 1;
  }

  #spb-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .spb-cars {
    order: 3;
  }
}

  #spb-loadmore {
    order: 4;
  }

  .spb-card-details {
    margin: 5px 0;
    display: flex;
    line-height: 5;
    width: 100%;
    border-top: solid 0px #D7D7D7;
    border-bottom: solid 0px #D7D7D7;
  }

@media (max-width: 782px) {
  .renteKampanje {
    float: none;
    width: calc(100%);
  }
}

@media (max-width: 1199px) {
  .renteKampanje {
    float: none;
    width: calc(100%);
  }
}

.spb-card-details div {
  &:nth-child(2) {
    text-align: center;
  }

  &:last-child {
    text-align: right;
  }

  flex-grow: 1;

  p {
    font-size: 14px;
    color: #717171;

    img {
      margin-right: 5px;
      vertical-align: middle;
      margin-top: -3px;
    }
  }
}

.spb-card .spb-card-right-column, .spb-cta .spb-card-right-column {
  white-space: nowrap;
}

.spb-card .spb-card-right-column .spb-monthly-price, .spb-cta .spb-card-right-column .spb-monthly-price {
  font-weight: 600;
}

.spb-card .spb-card-right-column > *, .spb-cta .spb-card-right-column > * {
  margin-bottom: 2px;
}

.spb-card .spb-card-right-column > *:last-child, .spb-cta .spb-card-right-column > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  .spb-card .spb-card-right-column, .spb-cta .spb-card-right-column {
    min-height: 110px;
  }
}

.spb-card .spb-card-btn, .spb-cta .spb-card-btn {
  background: #2C51D1;
  height: 38px;
  width: auto;
  max-width: 38px;
  line-height: 38px;
  border-radius: 50px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transition: all 0.25s ease-in-out;
  white-space: nowrap;
  text-align: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  color: var(--bruktbiler-color-text-overlay);
}

.spb-card .spb-card-btn span.spb-card-btn-text, .spb-cta .spb-card-btn span.spb-card-btn-text {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  transition: all 0.25s ease-in-out;
  margin-right: 16px;
  margin-left: 22px;
  text-transform: uppercase;
  font-size: 0.78em;
  font-weight: 600;
}

.spb-card .spb-card-btn img.spb-card-btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  transition: all 0.25s ease-in-out;
}

.spb-cta {
  .spb-card-btn img.spb-card-btn-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
    transition: all 0.25s ease-in-out;
  }

  font-size: 17px;
  background: #2C51D1;
  padding: 32px;
  color: var(--bruktbiler-color-text-overlay);
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  h3, p a {
    color: var(--bruktbiler-color-text-overlay);
    font-weight: 600;
  }

  h3 {
    font-size: 1.7em;
  }

  > * {
    font-size: 1.38em;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .spb-cta-btn {
    font-size: 1.1em;
    display: inline-block;
    color: var(--bruktbiler-color-text-overlay);
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid var(--bruktbiler-color-text-overlay);

    &:hover {
      background: var(--bruktbiler-color-text-overlay);
      color: #2C51D1;
    }
  }
}

@media (min-width: 1440px) {
  .spb-cta .spb-cta-btn {
    font-size: 1.3em;
  }
}