.spb-wrap {
  input, button, a, h1, h2, h3, h4, p, select {
    font-family: "Lato",sans-serif;
  }
}

#spb-filters {
  .spb-search-filter, .spb-reset-filter, .spb-sortby-filter {
    line-height: 1;
    font-size: 17px;
    font-family: "Lato",sans-serif;
  }
}

.spb-extra-car-filters {
  .spb-search-filter, .spb-reset-filter, .spb-sortby-filter {
    line-height: 1;
    font-size: 17px;
    font-family: "Lato",sans-serif;
  }
}

#spb-filters {
  .spb-search-filter p, .spb-reset-filter p, .spb-sortby-filter p {
    margin: 0;
    display: inline-block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}

.spb-extra-car-filters {
  .spb-search-filter p, .spb-reset-filter p, .spb-sortby-filter p {
    margin: 0;
    display: inline-block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}

#spb-filters .spb-reset-filter p, .spb-extra-car-filters .spb-reset-filter p {
  font-size: 0.89em;
}

#spb-filters .spb-reset-filter p > a, .spb-extra-car-filters .spb-reset-filter p > a {
  text-decoration: none;
  color: #2C51D1;
}

#spb-filters .spb-reset-filter p > a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.spb-extra-car-filters .spb-reset-filter p > a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

#spb-filters .spb-search-filter, .spb-extra-car-filters .spb-search-filter {
  position: relative;
  margin-bottom: 32px;
  position: relative;
}

#spb-filters .spb-search-filter p, .spb-extra-car-filters .spb-search-filter p {
  font-weight: 600;
}

#spb-filters .spb-search-filter:after, .spb-extra-car-filters .spb-search-filter:after {
  display: block;
  content: "";
  width: 40px;
  height: 50px;
  background-image: url(../images/search.svg);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

#spb-filters .spb-search-filter input[type=search], .spb-extra-car-filters .spb-search-filter input[type=search] {
  font-size: 17px;
  height: 50px;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

#spb-filters > .spb-filterbox, .spb-extra-car-filters > .spb-filterbox {
  margin-bottom: 0px;
  border-top: solid 1px #EEE;
  margin-top: 5px;
  margin-bottom: 5px;
}

#spb-filters > .spb-filterbox {
  &:last-child {
    border-bottom: solid 1px #EEE;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.spb-extra-car-filters > .spb-filterbox:last-of-type {
  margin-bottom: 0;
}

#spb-filters .spb-form-check, .spb-extra-car-filters .spb-form-check {
  line-height: 0;
  line-height: 0;
  position: relative;
  margin: 8px 0;
  text-align: left;
  font-size: 17px;
  height: 1.25em;
}

#spb-filters .spb-form-check:first-of-type, .spb-extra-car-filters .spb-form-check:first-of-type {
  margin-top: 0;
}

#spb-filters .spb-form-check:last-of-type, .spb-extra-car-filters .spb-form-check:last-of-type {
  margin-bottom: 0;
}

#spb-filters .spb-form-check input, .spb-extra-car-filters .spb-form-check input {
  line-height: 1.5;
}

#spb-filters .spb-form-check {
  input, label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
}

.spb-extra-car-filters .spb-form-check {
  input, label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
}

#spb-filters .spb-form-check label, .spb-extra-car-filters .spb-form-check label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
  color: #0D1A25;
}

#spb-filters .spb-form-check label:not(:empty), .spb-extra-car-filters .spb-form-check label:not(:empty) {
  padding-left: 0.75em;
}

#spb-filters .spb-form-check label {
  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.spb-extra-car-filters .spb-form-check label {
  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

#spb-filters .spb-form-check label:before, .spb-extra-car-filters .spb-form-check label:before {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #0D1A25;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

#spb-filters .spb-form-check input[type=checkbox], .spb-extra-car-filters .spb-form-check input[type=checkbox] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

#spb-filters .spb-form-check input[type=checkbox]:checked + label:before, .spb-extra-car-filters .spb-form-check input[type=checkbox]:checked + label:before {
  background: #2C51D1;
  border-color: #2C51D1;
}

#spb-filters .spb-form-check input[type=checkbox]:checked + label:after, .spb-extra-car-filters .spb-form-check input[type=checkbox]:checked + label:after {
  -webkit-transform: translate(0.28em, 0.3596153846em) rotate(-45deg);
  transform: translate(0.28em, 0.3596153846em) rotate(-45deg);
  width: 0.69em;
  height: 0.345em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

#spb-filters .spb-form-check.spb-second-level, .spb-extra-car-filters .spb-form-check.spb-second-level {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: -9999px;
  z-index: -999;
  margin-left: 32px;
}

#spb-filters .spb-form-check.spb-second-level.active, .spb-extra-car-filters .spb-form-check.spb-second-level.active {
  display: block;
  visibility: visible;
  pointer-events: all;
  position: relative;
  left: 0;
  z-index: 0;
}

#spb-filters .spb-slider-header, .spb-extra-car-filters .spb-slider-header, .spb-single-filters .spb-slider-header {
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #66696E;
}

#spb-filters .spb-slider-header {
  #cash_amount_formatted, #payback_time_formatted {
    color: var(--bruktbiler-color-text);
    font-weight: 600;
  }
}

.spb-extra-car-filters .spb-slider-header {
  #cash_amount_formatted, #payback_time_formatted {
    color: var(--bruktbiler-color-text);
    font-weight: 600;
  }
}

.spb-single-filters .spb-slider-header {
  #cash_amount_formatted, #payback_time_formatted {
    color: var(--bruktbiler-color-text);
    font-weight: 600;
  }
}

#spb-filters .ui-slider, .spb-extra-car-filters .ui-slider, .spb-single-filters .ui-slider {
  background: #E0E0E0;
  border: none;
  height: 6px;
  margin-bottom: 16px;
  border-radius: 0;
  width: calc(100% - 16px);
  margin-left: 8px;
}

#spb-filters .ui-slider {
  &:before, &:after {
    display: block;
    content: "";
    width: 8px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: #E0E0E0;
    top: 0;
    left: 0;
  }
}

.spb-extra-car-filters .ui-slider {
  &:before, &:after {
    display: block;
    content: "";
    width: 8px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: #E0E0E0;
    top: 0;
    left: 0;
  }
}

.spb-single-filters .ui-slider {
  &:before, &:after {
    display: block;
    content: "";
    width: 8px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: #E0E0E0;
    top: 0;
    left: 0;
  }
}

#spb-filters .ui-slider:before, .spb-extra-car-filters .ui-slider:before, .spb-single-filters .ui-slider:before {
  left: -8px;
}

#spb-filters .ui-slider:after, .spb-extra-car-filters .ui-slider:after, .spb-single-filters .ui-slider:after {
  left: auto;
  right: -8px;
}

#spb-filters .ui-slider .ui-slider-range, .spb-extra-car-filters .ui-slider .ui-slider-range, .spb-single-filters .ui-slider .ui-slider-range {
  border: none;
  background: #2C51D1;
}

#spb-filters .ui-slider .ui-slider-handle, .spb-extra-car-filters .ui-slider .ui-slider-handle, .spb-single-filters .ui-slider .ui-slider-handle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #2C51D1;
  border: 3px solid #fff;
  top: -10px;
}

@media (min-width: 1000px) {
  #spb-filters .ui-slider .ui-slider-handle, .spb-extra-car-filters .ui-slider .ui-slider-handle, .spb-single-filters .ui-slider .ui-slider-handle {
    width: 21px;
    height: 21px;
    top: -7px;
  }
}

#spb-filters .ui-slider .ui-slider-handle:focus, .spb-extra-car-filters .ui-slider .ui-slider-handle:focus, .spb-single-filters .ui-slider .ui-slider-handle:focus {
  outline: none;
}

#spb-filters .ui-slider .ui-slider-handle:active, .spb-extra-car-filters .ui-slider .ui-slider-handle:active, .spb-single-filters .ui-slider .ui-slider-handle:active {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

#spb-filters .spb-slider-footer, .spb-extra-car-filters .spb-slider-footer, .spb-single-filters .spb-slider-footer {
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0;
}

#spb-filters .spb-slider-footer span, .spb-extra-car-filters .spb-slider-footer span, .spb-single-filters .spb-slider-footer span {
  font-weight: 600;
}

#spb-filters .spb-slider-footer input, .spb-extra-car-filters .spb-slider-footer input, .spb-single-filters .spb-slider-footer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #66696E;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 1px;
}

#spb-filters .spb-slider-footer input#max_price, .spb-extra-car-filters .spb-slider-footer input#max_price, .spb-single-filters .spb-slider-footer input#max_price {
  text-align: right;
}

.spb-total-cars {
  float: left;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Lato",sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: none;
  color: #66696E;
  text-decoration: none;
  font-size: 1em;
  margin: 32px 32px 8px 0;
}

.spb-toggle-filters {
  float: left;
  display: block;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  color: var(--bruktbiler-color-text);
  text-decoration: none;
  font-size: 1em;
  border: solid 1px #333;
  padding: 10px;
  border-radius: 8px;
  margin: 32px 0 8px 0;
  background: transparent;
  appearance: none;

  svg {
    display: inline-block;
    height: 17px;
    width: auto;
    margin-left: 8px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  &:hover svg g g, &:focus svg g g {
    fill: #BE0101;
    stroke: #BE0101;
  }

  &:hover span, &:focus span {
    text-decoration: none;
  }

  &.inside {
    float: none;
    text-align: left;
    display: inline-block;
    margin: 0;

    svg g g {
      fill: #BE0101;
      stroke: #BE0101;
    }
  }
}

@media (min-width: 1200px) {
  .spb-toggle-filters.inside {
    display: none;
  }
}

@media (min-width: 1200px) {
  .spb-toggle-filters {
    display: none;
  }
}

.spb-extra-car-filters {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-bottom: 0;

  .spb-extra-filters-top {
    width: 100%;

    .spb-filterbox {
      margin-bottom: 32px;
      border: none;

      .spb-filterbox-extra-info {
        font-size: 0.89em;
        line-height: 1.5;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 8px;

        a {
          color: #2C51D1;
          text-decoration: none;

          &:hover, &:focus {
            text-decoration: underline;
            color: #2C51D1;
          }
        }
      }

      .spb-filterbox-content-wrapper {
        font-family: "Lato",sans-serif;
        font-size: 17px;
        border: 1px solid #E0E0E0;
      }
    }

    .spb-sortby-filter {
      p {
        font-weight: normal;
        flex-grow: initial;
        width: 250px;
        margin-right: 5px;
        text-align: right;
        line-height: 2.2;
      }

      select {
        font-size: 16px;
        width: auto;
        height: 41px;
        max-width: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        padding: 4px 16px;
        background-image: url("../images/arrow-up.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        background-size: 12px;
        font-size: 17px;
        line-height: 1.5;
      }
    }
  }

  .spb-filterbox-content-wrapper {
    width: 100%;
    text-align: right;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    #spb-cash-amount, #spb-payment-time {
      width: 50%;
    }
  }

  .spb-form-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  #spb-toggle-favorites {
    margin-left: auto;

    button {
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-family: "Lato",sans-serif;
      font-size: 17px;
      font-weight: 600;
      text-transform: none;
      color: var(--bruktbiler-color-text);
      text-decoration: none;
      font-size: 1em;
      padding: 0;
      margin: 32px 0 8px 0;
      background: transparent;
      appearance: none;
      border: none;

      &[disabled] {
        color: #66696E;

        &:hover {
          cursor: not-allowed;
          text-decoration: none;
        }
      }

      &:hover, &[data-favorites-active=true] {
        display: inline-block;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 17px;
        outline: none;
        border: none;
      }

      &:hover span, &[data-favorites-active=true] span {
        text-decoration: underline;
      }
    }

    svg {
      display: inline-block;
      width: 19px;
      margin-right: 8px;
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }
}

@media (min-width: 768px) {
  .spb-extra-car-filters .spb-extra-filters-top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    .spb-filterbox {
      width: calc(100% - 250px - 32px);
      margin-bottom: 0;
    }

    .spb-sortby-filter {
      width: 100%;
      text-align: right;
    }
  }
}

.spb-filterbox {
  background: #fff;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  border: none;
  color: #0D1A25;
  cursor: pointer;

  &:first-child {
    border-top: solid 1px #EEEEEE;
  }

  &:last-child {
    border-bottom: solid 1px #EEEEEE;
  }

  header.spb-filterbox-header, div.spb-filterbox-content {
    padding: 0;
  }

  header.spb-filterbox-header .spb-toggle-box {
    padding: 16px 0;
  }

  div.spb-filterbox-content {
    padding: 0 16px 0px 0px;
  }
}

.spb-filterbox-content {
  margin-bottom: 26px;
}

.spb-filterbox {
  .spb-filterbox-content .spb-main-terms {
    margin-bottom: 16px;
  }

  header.spb-filterbox-header {
    border-bottom: none;
    position: relative;
    line-height: 1;

    p {
      margin: 0;
      display: block;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }

    img.spb-toggle-box.closed {
      cursor: pointer;
      padding: 23px 16px;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg);
      transition: -webkit-transform 0.215s ease-in-out;
      transition: transform 0.215s ease-in-out;
      transition: transform 0.215s ease-in-out, -webkit-transform 0.215s ease-in-out;
    }

    &.open img.spb-toggle-box {
      cursor: pointer;
      padding: 23px 16px;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%) rotate(0);
      transform: translateY(-50%) rotate(0);
      transition: -webkit-transform 0.215s ease-in-out;
      transition: transform 0.215s ease-in-out;
      transition: transform 0.215s ease-in-out, -webkit-transform 0.215s ease-in-out;
    }
  }

  .spb-terms-title {
    padding: 0;
    margin-bottom: 8px;
    color: #66696E;
    font-weight: 600;
  }

  .alle-merker {
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 10px;
    text-decoration: underline;
    color: #0D1A25;
  }

  .spb-secondary-terms {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -99999;
    top: -99999px;
  }
}

.filter-terms-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: -99999;
  top: -99999px;
}

.spb-filterbox .spb-secondary-terms-active, .filter-terms-active {
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 1;
  top: 0;
  display: block;
}

.spb-filterbox.loading {
  pointer-events: none;
  opacity: 0.5;
}

dealerpad-widget {
  .tzi-pmtcalc {
    padding: 0;

    &.expand {
      max-height: 1000px;
    }

    .tz-dialog {
      position: static;
      padding: 0;

      .tz-body {
        font-size: 1em;

        label {
          font-size: 1em;
        }
      }
    }

    .tz-summary.show {
      max-height: 450px;
    }
  }

  .tz-head .summary-link {
    padding: 2px;
  }
}