.spb-popup {
  font-size: 17px;
  font-size: 1em;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(196, 196, 196, 0.8);
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 ;
  padding: 0 ;
  z-index: 999;

  div.wpforms-container-full .wpforms-form h3, h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  @media(max-width: 767px) {
    div.wpforms-container-full .wpforms-form h3, h3 {
      font-size: 18px;
    }
  }
  .new-section {
    padding-top: 1.8rem !important;
  }

  &.active {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0 !important;
  }

  .spb-popup-container {
    position: relative;
    background: #fff;
    max-width: 1340px;
    width: 100%;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
    max-height: calc(100% - 64px);

    .spb-popup-scroll {
      max-height: 100%;
      overflow-y: auto;
      padding: 64px 32px;
      .location {
        background: #F5F7FF;
        border: 2px solid #2C51D1;
        border-radius: 16px;
        padding: 1.5em;
        font-weight: 700;
        font-size: 16px;
        .car-name {
          width: 100%;
          display: block;
          color: #717171;
          font-weight: 400;
          margin-top: 5px;
          font-size: 16px;
        }
      }
      @media(max-width: 767px){
        .location {
          padding: 1em;
        }
      }
    }

    .spb-close-popup {
      display: block;
      position: absolute;
      top: 20px;
      right: 15px;
      width: auto;
      border-bottom: solid 1px;
      height: 15px;
      line-height: 0;
    }
  }

  form {
    margin-top: 32px;
  }

  .spb-form-group {
    margin-bottom: 16px;
  }

  p {
    text-align: left;
  }

  input {
    width: 100%;
    max-width: 100%;

    &[type=text], &[type=email], &[type=tel] {
      height: 56px;
      width: 100%;
      border: 1px solid #E0E0E0;
      outline: none;
      font-size: 17px;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      margin: 0;
      padding: 8px 16px;
    }

    &[type=submit] {
      margin-top: 32px;
      line-height: 1;
      display: inline-block;
      background: #2C51D1 ;
      border: none ;
      color: var(--bruktbiler-color-text-overlay);
      text-decoration: none ;
      padding: 14px 26px;
      border-radius: 50px;
      text-transform: none;
      transition: all 0.215s ease-in-out;

      &:visited {
        color: var(--bruktbiler-color-text-overlay);
      }

      &:hover, &:focus {
        text-decoration: none ;
        background-color: var(--bruktbiler-color-main-accent-dark);
        color: var(--bruktbiler-color-text-overlay);
      }
    }
  }

  .spb-form-check {
    line-height: 0;
    line-height: 0;
    position: relative;
    margin: 16px 0;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .spb-popup .spb-popup-container .spb-popup-scroll {
    padding: 64px;
  }
}

.spb-form-check .counter {
  display: none !important;
  color: #999;
}

.spb-popup .spb-form-check {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  input {
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
  }

  label {
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    color: #66696E;
    font-weight: normal;

    &:not(:empty) {
      padding-left: 0.75em;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      width: 1.25em;
      height: 1.25em;
      background: #fff;
      border: 2px solid #2C51D1;
      border-radius: 0.125em;
      cursor: pointer;
      transition: background 0.3s;
    }
  }

  input[type=checkbox] {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked + label {
      &:before {
        background: #2C51D1;
        border: none;
      }

      &:after {
        -webkit-transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
        transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
        width: 0.75em;
        height: 0.375em;
        border: 0.125em solid #fff;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }

  &:hover input[type=checkbox] + label:before {
    background: var(--bruktbiler-color-main-accent-light);
  }
}

.spb-notice {
  margin-top: 32px;
  padding: 16px;
  background: #E0E0E0;

  &.spb-notice-success {
    background: #e2ffe6;
  }

  &.spb-notice-error {
    background: #ffe2e2;
  }
}

@media (max-width: 768px) {
  .map-section {
    border-top: none;
    margin-top: -6rem;
  }

  .car-report .reportRow {
    margin-left: -30px;
    width: calc(100% + 60px);
    padding-left: 30px;
  }

  .spb-department {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    #cusmap {
      border-radius: 20px;
    }
  }

  .spb-info-grid {
    margin-top: 1rem;
  }

  .spb-description-container {
    margin-top: 4.2rem;
  }

  .anchor-links {
    padding: 0 0 0 0;
  }

  .anchor-inner {
    padding-left: 20px !important;
    padding-right: 20px !important;

    a { 
      font-size: 16px;
      margin-right: 1rem;
    }
  }

  .spb-extra-car-filters {
    .spb-extra-filters-top {
      .spb-sortby-filter p {
        display: none;
      }

      width: auto;
      float: right;
      order: 1;
      margin-bottom: 25px;
      position: relative;
      top: -8px;
      border-radius: 8px;
      padding: 0;
      margin-left: 20px;
    }

    .spb-form-header {
      width: auto;
      text-align: left;
      display: inline-block;
    }

    .spb-sortby-filter {
      border-radius: 8px;
    }

    .spb-extra-filters-top .spb-sortby-filter select {
      border: solid 1px #000000;
      border-radius: 8px;
    }

    flex-direction: unset;
  }

  .anchor-inner {
    justify-content: left;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0, 2fr));
  }
}

.desktop {
  display: block;
}

.mobile, .inside {
  display: none;
}

.nardoBruktbilSlider {
  .swiper-slide img {
    border-radius: 32px;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, &.swiper-pagination-fraction {
    line-height: 17px;
    font-size: 14px;
    padding-top: 5px;
  }

  span.swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      background: #000;
      border-color: #000;
    }

    background: #D0D0D0;
    border-color: #D0D0D0;
  }
}

.variant {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #4D4D4D;
}

.car_title {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
}

.car_shortInfo {
  .price {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #0D1A25;
  }

  .monthly_price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 3.5;
    color: #0D1A25;

    span {
      background: #F6F7F9;
      border-radius: 3px;
      padding: 15px 20px;
    }
  }
}

.flex-float-right {
  display: inline-block;
  text-align: right;

  .btn {
    padding: 10px 15px;
    border: solid 1px #000;
    border-radius: 8px;
    margin-left: 15px;
  }

  .reserver {
    border: solid 1px #2C51D1;
    background: #2C51D1;
    color: #fff;
  }
}

.spb-car-images {
  padding-bottom: 1em;
}

.spb-info-line {
  display: flex;
}

.spb-info-box .info-large {
  margin-left: 2em;
}

.spb-info-line .icon {
  margin-top: 0.5em;
  position: relative;
}

.spb-info-box {
  .icon svg {
    position: absolute;
    top: 2px;
    left: 0;
  }

  div p {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    line-height: 1.6;
  }

  .spb-info-mini {
    font-size: 11px;
    text-transform: uppercase;
  }

  .spb-info-large {
    font-size: 14px;
    font-weight: normal;
  }
}

.bruktbilspec {
  padding: 0;

  ul {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
  }

  li {
    list-style: none;
    padding: 1rem 0;
    font-size: 16px;
    font-weight: bold;
    .bruktbil-specTitle {
      font-weight: 400;
      display: block;
      line-height: 1.9;
    }
  }
}

.secondContent {
  margin-top: 0;
}

.car-specs {
  padding: 3rem 0;
  background: #F6F7F9;
}

.car-specs .specification {
  margin-top: 0em;
  background-color: #F6F7F9;

  .innerSpecs {
    width: calc(100% - 30px);
    max-width: calc(1200px + 60px);
    padding: 0 30px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
  }

  .spec {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    width: 100%;
  }
}

.secondContentSpecs li {
  &:nth-child(1), &:nth-child(2), &:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .secondContentSpecs li {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      display: block;
    }
  }

  .bruktbilspec ul li {
    &:nth-child(7), &:nth-child(8), &:nth-child(9) {
      display: none;
    }
  }

  .spb-wrap .breadcrumb {
    margin-top: 10px;
    display: block;
    margin-bottom: 0px;
  }

  .spb-car-images {
    position: relative;
    min-height: 300px;

    .swiper {
      position: absolute;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .car-specs .specification .innerSpecs {
    padding: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .inside {
    display: inline-block;
  }

  #spb-content .spb-filters {
    padding: 16px;
    max-width: 100%;
    box-shadow: none;
  }

  .filter-header {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eee;

    a {
      width: 32.2%;

      &:nth-child(2) {
        font-weight: bold;
        font-size: 16px;
      }

      &:last-child {
        text-align: right;
        text-decoration: underline;
        font-size: 14px;
      }
    }
  }
}
.ui-timepicker-wrapper {
  min-width: 150px;
}
li.ui-timepicker-am, li.ui-timepicker-pm {
  padding: 10px 20px;
}
.testdrive {

  .ui-timepicker-wrapper {
    height: 150px !important;
    width: 195px !important;
  }

  li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list .ui-timepicker-selected:hover {
    background: #2c51d1 !important;
  }

  .ui-timepicker-list li {
    padding: 10px 0 10px 5px !important;
    font-size: 16px !important;
  }
  .wpforms-datepicker, .wpforms-timepicker {
    border-color: transparent !important;
    cursor: pointer;
    caret-color: rgba(0,0,0,0);
    color: #717171 !important;
    padding: 1.5em 1em 1.5em 2em !important;
  }
  #main .wpforms-container .wpforms-submit {
    background: #2c51d1 !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 14px 25px 14px 0px !important;
    font-size: 18px !important;
    border: none !important;
    width: 225px !important;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z' fill='white'/%3E%3C/svg%3E%0A") !important;
    background-repeat: no-repeat !important;
    background-position: calc(60% + 60px) center !important;
    order: 2;
    cursor: pointer !important;
    margin: 10px 15px !important;
  }

  #main .wpforms-container input {
    border: 1px solid #717171;
    border-radius: 8px;
  }

  .wpforms-submit-container {
    margin: 1.5em 0px 0 0;
    display: inline-flex;
    justify-content: center;
    width: auto !important;
    flex-wrap: nowrap;
    line-height: 4em;
    .avbryt {
      color: #000;
      text-decoration: underline !important;
      order: 1;
      cursor: pointer;
      margin-left: 1.5em;
    }
  }

  @media (max-width: 768px){
    #main .wpforms-container .wpforms-submit {
      order: 1 !important;
    }
    .wpforms-submit-container {
      margin-top: 10px !important;
      line-height: 2em !important;
      display: flex !important;
      flex-wrap: wrap !important;
      .avbryt {
        display: block;
        order: 2 !important;
        width: 100% !important;
        text-align: center;
      }
    }
  }

  .wpforms-datepicker-wrap {
    position: relative;
    &:first-child {
      &::before {
        content: ' ';
        display: block;
        width: 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9H6V11H4V9ZM18 4V18C18 19.1 17.1 20 16 20H2C0.89 20 0 19.1 0 18L0.00999999 4C0.00999999 2.9 0.89 2 2 2H3V0H5V2H13V0H15V2H16C17.1 2 18 2.9 18 4ZM2 6H16V4H2V6ZM16 18V8H2V18H16ZM12 11H14V9H12V11ZM8 11H10V9H8V11Z' fill='%23717171'/%3E%3C/svg%3E%0A");
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 12px !important;
      }
    }
  }

  .wpforms-one-half:not(.wpforms-first) {
    position: relative !important;
    &:nth-child(2) {
      &::before {
        content: ' ';
        display: block;
        width: 20px;
        background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='20px' height='20px'%3E%3Cpath d='M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24.984375 6.9863281 A 1.0001 1.0001 0 0 0 24 8 L 24 22.173828 A 3 3 0 0 0 22 25 A 3 3 0 0 0 22.294922 26.291016 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 23.708984 27.705078 A 3 3 0 0 0 25 28 A 3 3 0 0 0 28 25 A 3 3 0 0 0 26 22.175781 L 26 8 A 1.0001 1.0001 0 0 0 24.984375 6.9863281 z'/%3E%3C/svg%3E");
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 13px !important;
      }
    }
  }

  body .flatpickr-calendar .selected {
    color: #fff !important;
  }
}