.spb-back-to-overview {
  display: inline-block;
  font-size: 0.89em;
  color: #2C51D1;
  text-decoration: none;
  margin-bottom: 16px;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.content-image_and_text {
  padding: 10px;
}

.spb-single-wrap {
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-size: 16px;

  h1, h2, h3, h4, p, span {
    font-family: "Lato",sans-serif;
    letter-spacing: 0;
  }

  h1, h2, h3 {
    font-weight: normal;
  }

  * {
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}

@media (min-width: 481px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}

@media (min-width: 600px) {
  .spb-single-wrap {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}

@media (min-width: 1000px) {
  .spb-single-wrap {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .spb-single-wrap {
    font-size: 17px;
  }
}

@media (min-width: 1000px) {
  .spb-single-wrap {
    display: block;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .spb-single-wrap {
    grid-template-columns: auto 480px;
  }
}

.spb-car-images {
  position: relative;

  .spb-favorite-car {
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 2;
  }
}

@media (min-width: 1000px) {
  .spb-car-images .spb-favorite-car {
    top: 32px;
    right: 96px;
    height: 50px;
    width: 50px;

    svg {
      width: 25px;
    }
  }
}
.bordertop {
  height: 1px;
  width: 100%;
  background: #D0D0D0
}
.tilstandsrapport {
  padding: 3rem 0;
  .reportRow {
    background: #F6F7F9;
    padding: 0 1rem;
    h3 {
      font-weight: 700;
      font-size: 18px;  
    }
    .reportLink {
      line-height: 4rem;
      border-bottom: solid 1px;
      &:hover {
        color: #2C51D1;
      }
    }
  }
}
.carousel {
  opacity: 0;
  height: 0;

  &.flickity-enabled {
    opacity: 1;
    height: auto;
  }

  &.is-fullscreen {
    height: 100% ;
    z-index: 3;

    .carousel-cell {
      height: 100%;
      min-width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 16px;

      img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        border-radius: 0;
        height: 100% !important;
      }
    }

    .flickity-fullscreen-button-exit {
      bottom: auto;
      top: 32px;
    }
  }

  .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0.5);
    padding: 0;
    width: 33px;
    height: 33px;

    svg {
      fill: #1D1D1B;
    }

    &:hover {
      background: #fff ;
    }

    &.next {
      right: 16px;
    }

    &.previous {
      left: 16px;
    }
  }

  .flickity-fullscreen-button {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    background-color: #fff ;
    background-image: url(../images/fullscreen.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    line-height: 0;
    bottom: auto;
    top: 16px;
    right: 16px;
    min-width: 1px;
    min-height: 1px;
    max-width: none;
    max-height: none;
    padding: 0;

    svg {
      display: none ;
    }

    &:hover, &:focus {
      background-color: #E0E0E0 ;
    }
  }
}

.spb-car-info-grid{
  margin-top: 90px;
  margin-bottom: -40px !important;
  background: #F6F7F9 !important;
  border-radius: 8px; 
  padding: 20px 0px 20px 70px !important;
}
@media (max-width: 960px) {
  .spb-car-info-grid{
    margin-top: 120px !important;
  }
  .spb-car-info-grid{
    margin-top: 90px;
    margin-bottom: -40px !important;
    background: #F6F7F9 !important;
    border-radius: 8px; 
    padding: 20px 0px 20px 40px !important;
  }
}

@media (max-width: 768px) {

  .tilstandsrapport {
    padding: 1rem 0;
    .reportRow {
      background: #F6F7F9;
      padding: 0 1rem;
      left: -16px;
      position: relative;
      width: calc(100% + 32px);
    }
  }
  .bordertop {
    display: none;
  }
  .spb-wrap-wide {
    padding-top: 30px !important;
  }
  .usercarSwiper {
    .swiper-wrapper {
      .swiper-slide {
        img {
          border-radius: 0 !important;
          margin-top: 0px !important;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .admin-bar .carousel.is-fullscreen {
    top: 46px;
    height: calc(100% - 46px);

    .flickity-fullscreen-button-exit {
      top: calc(46px + 32px);
    }
  }
}

@media (min-width: 783px) {
  .admin-bar .carousel.is-fullscreen {
    top: 32px;
    height: calc(100% - 32px);

    .flickity-fullscreen-button-exit {
      top: calc(32px + 32px);
    }
  }
}

@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button.next {
    right: 32px;
  }
}

@media (min-width: 1000px) {
  .carousel .flickity-prev-next-button.previous {
    left: 32px;
  }
}

@media (min-width: 1000px) {
  .carousel .flickity-fullscreen-button {
    width: 50px;
    height: 50px;
    background-size: 22px;
    top: 32px;
    right: 32px;
  }
}

.flickity-viewport {
  transition: height 0.15s ease-in-out;
}

.bruktbiler .bruktbilHero .first-col {
  display: flex !important;
  padding: 0 !important;
  height: calc(10vw + 10vh + 15em) !important;
}
.usercarSwiper {
  margin-bottom: 16px;
  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 100%;
        height: auto !important;
        border-radius: 16px;
      }
    }
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 24px;
    font-weight: bold;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    background: hsla(0,0%,100%,.75);
    border: none;
    color: #333;
    width: 50px;
    border-radius: 100%;
    height: 50px;
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    border-radius: 100%;
    width: 50px;
    background: hsla(0,0%,100%,.75);
    height: 50px;
    color: #333;
  }

}

.pswp__img, .pswp__zoom-wrap {
  object-fit: cover;
}
.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  object-fit: contain;
}

.carousel-nav .carousel-cell {
  width: calc(33.33333% - 6px);
  margin-right: 16px;

  img {
    width: 100%;
    height: auto;
    transition: all 0.15s ease-in-out;
  }

  &.is-selected img, &:hover img, &:focus img {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .carousel-nav .carousel-cell {
    width: calc(25% - 6px);
  }
}

@media (min-width: 1440px) {
  .carousel-nav .carousel-cell {
    width: calc(25% - 6px);
  }
}

@media (min-width: 768px) {
  .spb-car-header {
    display: block;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 32px;
    justify-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    grid-template-areas: "Images Images" "Title Price";
  }
}

@media (min-width: 1000px) {
  .spb-car-header {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .spb-car-header {
    grid-template-columns: 1.5fr 1fr;
  }
}

.spb-car-header > * {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .spb-car-header > * {
    margin-bottom: 0;
  }
}

.spb-wrap-left-column {
  margin-bottom: 0px;
  padding: 0 7.5px;
}

@media (min-width: 1000px) {
  .spb-wrap-left-column {
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  .specs {
    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

div#contact-card-container {
  display: flex !important;
  flex-wrap: nowrap;
}

.contact .card_container .card {
  display: block;
  h3 {
    padding: 0 1.5rem !important;
  }
}

.spb-wrap-right-column {
  padding: 0;
}

.spb-wrap-left-column > *, .spb-wrap-right-column > * {
  margin-bottom: 0px;
}

.spb-wrap-left-column > *:last-child, .spb-wrap-right-column > *:last-child {
  margin-bottom: 0;
}

.spb-car-images {
  min-height: 200px;
}

@media (min-width: 768px) {
  .spb-car-images {
    grid-area: Images;
  }
}

.spb-title-section {
  .car-status-banner {
    display: inline-block;
    background: #e0e0e0;
    color: #5f5f5f;
    border-radius: 3px;
    margin: 0 0 8px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.7em;
    font-weight: 600;
    color: #2C51D1;
    margin-bottom: 8px;
    padding: 0;
  }

  h2 {
    font-size: 1.38em;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .spb-title-section {
    grid-area: Title;
  }
}

.spb-single-calculated-price, .spb-single-price {
  margin: 0 ;
}

.spb-single-calculated-price p, .spb-single-price p {
  padding: 0;
}

.spb-single-calculated-price p:first-of-type, .spb-single-price p:first-of-type {
  margin-bottom: 0;
}

.spb-single-calculated-price .spb-monthly-price {
  font-weight: 600;
}

.spb-price-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  .spb-info-box-left-column > *, .spb-info-box-right-column > * {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .spb-info-box-left-column > *:first-child, .spb-info-box-right-column > *:first-child {
    margin-top: 0;
  }

  .spb-info-box-left-column > *:last-child, .spb-info-box-right-column > *:last-child {
    margin-bottom: 0;
  }

  .spb-info-box-left-column {
    margin-bottom: 16px ;
  }

  .spb-single-price-value {
    color: #2C51D1;
    font-weight: 600;
  }
}

@media (min-width: 540px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;

    .spb-info-box-left-column {
      width: 70%;
      margin-bottom: 0 ;
    }

    .spb-info-box-right-column {
      width: 30%;
    }
  }
}

@media (min-width: 768px) {
  .spb-price-section {
    grid-area: Price;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    .spb-info-box-left-column {
      width: 100%;
      margin-bottom: 16px ;
    }

    .spb-info-box-right-column {
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;

    .spb-info-box-left-column {
      width: 70%;
      margin-bottom: 0 ;
    }

    .spb-info-box-right-column {
      width: 30%;
    }
  }
}

@media (min-width: 1200px) {
  .spb-price-section {
    grid-area: Price;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    .spb-info-box-left-column {
      width: 100%;
      margin-bottom: 16px ;
    }

    .spb-info-box-right-column {
      width: 100%;
    }
  }
}

@media (min-width: 1440px) {
  .spb-price-section {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;

    .spb-info-box-left-column {
      width: 70%;
      margin-bottom: 0 ;
    }

    .spb-info-box-right-column {
      width: 30%;
    }
  }
}

.spb-info-box {
  background: #fff;
  border: none;
  padding: 32px 0;

  h1 {
    &:before, &:after {
      content: none ;
    }
  }

  h2 {
    &:before, &:after {
      content: none ;
    }
  }

  h3 {
    &:before, &:after {
      content: none ;
    }
  }

  p {
    &:before, &:after {
      content: none ;
    }
  }

  > * {
    margin-top: 0;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.spb-warranty {
    p {
      margin: 0;
      padding: 0;
      margin-bottom: 16px;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.spb-info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 16px;

  .spb-info-line {
    margin-bottom: 0;

    > * {
      padding: 0;
      margin-top: 0;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .spb-text-base {
      font-weight: 400;
    }
  }
}

@media (min-width: 600px) {
  .spb-info-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .spb-info-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.anchor-links {
  left: 0;
  right: 0;
  margin: 0px;
  position: absolute;
  display: inline-block;
  padding-left: 70px;
  padding-right: 70px;
}

.anchor-inner {
  width: 1300px;
  justify-content: left;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 auto;
  align-items: center;
  display: flex;

  &::-webkit-scrollbar { 
    display: none;
  }
  .cardancor {
    width: auto;
    flex-grow: 1;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    &:first-of-type{
      border-radius: 30px  0 0 30px;
      border-left: 1px solid #D0D0D0;
      a {
        border-radius: 30px  0 0 30px;
      }
    }
    &:last-of-type{
      border-radius: 0 30px 30px 0;
      border-right: 1px solid #D0D0D0;
      a {
        border-radius: 0 30px 30px 0;
          
        }
    }
    a {
      font-size: 16px;
      color: #0D1A25;
      line-height: 50px;
      margin-right: 1rem;
      width: 100%;
      text-align: center;
      padding: 0 15px;
      display: inline-block;
      &:hover {
        color: #2C51D1;
        background: #F5F7FF;
      }
    }
  }
}
@media (min-width: 1921px) {
  .anchor-inner {
    width: 1600px;
  }
}

@media (max-width: 960px) {
  .anchor-links{
    margin-top: 20px;
  }
}
@media (min-width: 1000px) {
  .spb-info-grid {
    margin-bottom: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .anchor-inner {
    .cardancor {
      width: auto;
    }
  }
}
.firstContent {
  overflow: hidden;
  max-height: 100%;
  height: auto;
  &.closed{
    max-height: 200px;
    height: 200px;
  }
}
.spb-description-container {
  margin-top: 40px;
  word-break: break-word;
}

.spb-description {
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px !important;
    line-height: 1.8 !important;
    margin-top: 10px;
  }

  li {
    margin-bottom: 5px;
  }

  .secondContent {
    display: none;
  }
}

.secondContentSpecs {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#visAlt, #visAltSpecs {
  cursor: pointer;
}

.spb-description .secondContent-visible {
  display: block;
}

.secondContentSpecs-visible {
  display: grid;
  opacity: 1;
  height: auto;
  transition: opacity 0.5 ease-in-out;
}

.map-section {
  border-top: solid 1px #D0D0D0;
}

.car-report {
  padding: 10% 0;
  position: relative;

  h3 {
    font-size: 24px;
    color: #0D1A25;
    line-height: 30px;
  }

  .reportRow {
    padding: 1em 1.5em;
    background: #F6F7F9;

    .title {
      font-weight: bold;
      font-size: 18px;
      color: #000000;
      margin-right: 5rem;
    }
  }
}

@media (min-width: 1000px) {
  .spb-description-container {
    display: block;
  }
}

.spb-description-container {
  .spb-description {
    margin-bottom: 32px;

    .pdfURL a {
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

@media (min-width: 1000px) {
  .spb-description-container {
    display: block;
  }
}

.spb-description-container {
  .spb-description {
    margin-bottom: 32px;

    > * {
      margin-bottom: 32px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .spb-accessories > * {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul.spb-accessories-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 32px;
    grid-row: auto;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: 1000px) {
  .spb-description-container .spb-description {
    margin-bottom: 0;
  }
}

.spb-department {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .spb-center-icon-text {
    h3 {
      font-size: 24px;
      color: #0D1A25;
      line-height: 30px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 18px;
      color: #0D1A25;
      margin-bottom: 1rem;
    }
  }

  #cusmap {
    border-radius: 32px;
  }

  p {
    margin: 1.5rem 0;
  }
}

.trengerdukjopshjelp {
  color: #2C51D1;
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

.spb-sales-person header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 32px;

  > .header-title {
    margin-bottom: 16px;
  }

  .spb-seller {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .spb-sales-person-profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 16px;

    img {
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100% ;
      height: 100% ;
    }
  }

  .spb-sales-person-main-info {
    justify-self: flex-end;
  }
}

.spb-seller {
  margin-bottom: 32px ;

  &:last-of-type {
    margin-bottom: 0 ;
  }

  p.spb-seller-name {
    font-weight: 500;
    margin-top: -4px;
    margin-bottom: 4px;
  }
}

.spb-sales-person-main-info {
  font-size: 16px;

  > * {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .spb-icon img {
    width: 18px;
    height: auto;
  }
}

.spb-department header > *, .spb-sales-person header > * {
  margin: 0;
  padding: 0;
}

.spb-department p, .spb-sales-person p {
  color: var(--bruktbiler-color-text);
  padding: 0;
  font-weight: normal;
}

.spb-department a, .spb-sales-person a {
  text-decoration: none;
}

.spb-department a:hover, .spb-sales-person a:hover {
  text-decoration: underline;
}

.spb-department a .spb-icon, .spb-sales-person a .spb-icon {
  line-height: 0;
}

.spb-department > *, .spb-sales-person > * {
  margin-bottom: 16px;
}

.spb-department > *:last-child, .spb-sales-person > *:last-child {
  margin-bottom: 0;
}

.spb-center-icon-text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  > a {
    color: var(--bruktbiler-color-text);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    word-break: break-word;
  }

  .spb-icon {
    display: inline-block;
    line-height: 0;
  }

  span {
    margin-right: 8px;
  }
}

.spb-icon-line .spb-icon {
  height: 34px;
  width: 34px;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

a.spb-icon-line {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.spb-break {
  display: block;
  margin: 16px 0;
  height: 1px;
  width: 100%;
  background: var(--bruktbiler-color-text);
}

.spb-single-filters {
  header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 16px;

    h3 {
      margin: 0;
    }

    img {
      max-width: 120px ;
      height: auto;
      width: 100%;

      &.nordea {
        max-width: 120px ;
      }
    }
  }

  .spb-info-box-footer-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    -webkit-align-items: center;
    align-items: center;

    .spb-info-box-sliders {
      width: 100%;
    }
  }

  .spb-price-box-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    > * {
      margin: 0 0 4px;
      padding: 0;
    }

    .spb-label {
      margin-right: auto;
      font-weight: 600;
    }
  }

  .spb-price-box {
    text-align: center;
    border: 2px solid #2C51D1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--bruktbiler-color-text);

    span {
      margin-left: 8px;
    }
  }
}
.moreusedcars {
  padding: 30px 0px 30px 16px !important;
  .card-bruktbil {
    width: auto;
    display: auto;
    display: inline-grid;
    width: calc(33% + 32px);
    margin-right: 16px;
    scroll-snap-align: start;
    .mobileimagethumb {
      width: 100%;
      border-radius: 16px;
    }
  }
}

.kontakt-container {
  display: inline-grid;
  #spb-schedule-physical-showing {
    margin: 30px 0;
  }
}

.scrolling-wrapper-flexbox-bruktbil {
    grid-template-columns: repeat(6, minmax(0, 2fr));
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: left;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;
  }
}

.showAllBruktBiler {
  font-size: 20px;
  display: grid;
  grid-template-columns: minmax(40px, 1fr) auto minmax(40px, 1fr);
  align-items: center;
  text-align: center;
  grid-gap: 40px;
  width: 100%;
  margin-top: 5px;

  &::before,
  &::after {
     content: '';
     border-top: 2px solid #f6f7f9;
  }

  &::after {
     margin: 0 0 0 10px;
  }

  .arrow-right {
     &::after {
        content: '';
        background-color: #000;
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
        mask: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='icon-color' fill='black' d='M13 0L11.59 1.43513L16.17 6.10693H0V8.14258H16.17L11.58 12.8144L13 14.2495L20 7.12476L13 0Z'/%3E%3C/svg%3E%0A") no-repeat center;
        display: block;
        width: 20px;
        height: 14px;
        margin-top: 5px;
        margin-right: calc(0.1vh + 0.1vw + 5px);
        float: right;

     }
  }
  a {
     &:hover {
        color: #2c51d1;
        .arrow-right {
           &::after {
              background-color: #2c51d1;
           
           }
        }
     }
  }
}

@media (min-width: 540px) {
  .spb-single-filters header h3 {
    display: block;
  }
}

@media (max-width: 768px){
  .moreusedcars {
    .card-bruktbil {
      width: 75%;
    }
  }
  .bruktbiler .bruktbilHero .first-col {
    height: calc(2vw + 2vh + 270px) !important;
  }
}
@media (min-width: 540px) {
  .spb-single-filters header img.volvo {
    max-width: 235px;
  }
}

@media (min-width: 540px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1.2fr 1fr;
  }
}

@media (min-width: 1000px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .spb-single-filters .spb-info-box-footer-content {
    grid-template-columns: 1.2fr 1fr;
  }
  .moreusedcars {
  padding: 60px !important;
  .card-bruktbil {
    width: calc(33% - 16px);
    display: inline-grid;
    margin-right: 16px;
  }
}
}

.flickity-enabled.is-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  margin: 68px auto;
  right: 0;
  width: 1340px;
  max-width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

#frmContact {border-top:#F0F0F0 2px solid;background:#FAF8F8;padding:10px;}
#frmContact div{margin-bottom: 15px}
#frmContact div label{margin-left: 5px}
.demoInputBox{padding:10px; border:#F0F0F0 1px solid; border-radius:4px;}
.error{background-color: #FF6600;border:#AA4502 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px;}
.success{background-color: #12CC1A;border:#0FA015 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px;}
.info{font-size:.8em;color: #FF6600;letter-spacing:2px;padding-left:5px;}
.btnAction{background-color:#2FC332;border:0;padding:10px 40px;color:#FFF;border:#F0F0F0 1px solid; border-radius:4px;}