@charset "UTF-8";
/**
 * Name: Admin Styles - SP Bilservice
 * Author: Screenpartner AS
 */
#fetch-cars:before,
#delete-cars:before,
#fetch-images:before {
  margin-right: 4px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 18px/1.5 "dashicons";
  vertical-align: sub;
}

#fetch-cars:before {
  content: "";
}

#fetch-images:before {
  content: "";
}

#delete-cars {
  border-color: #d63638;
}
#delete-cars:before {
  content: "";
}

.progress-bar {
  display: none;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 30px;
}
.progress-bar::-webkit-progress-bar {
  background: white;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #c3c4c7;
}
.progress-bar::-webkit-progress-value {
  -webkit-appearance: none;
          appearance: none;
  display: block;
  height: 100%;
  width: attr(data-percentage);
  background: green;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.progress-bar::webkit-progress-value {
  display: block;
  height: 100%;
  width: attr(data-percentage);
  background: green;
  box-shadow: inset 0 0 0 1px #fff;
  transition: all 0.15s ease-in-out;
}
